{% extends '../admin/navigationBarAdmin/adminbase.html' %} {% load static %}
{% block content %}


<div class="container mx-auto bg-white">
  <div class="bg-white">

    <div class="bg-gray-100 ">
    <div class="grid ml-[2rem] grid-cols-3 mb-10 bg-gray-100 ">
      <div class="h-[6rem] w-[20rem] bg-white grid grid-cols-2 rounded-l mb-6">
        <div class="h-full">
          <img src="../../../static/images/adminImages/chef.svg" class="h-full ml-6" alt="">
        </div>
      <div class="text-xl font-medium mt-4 mr-3">
        <p class="mb-1">Chefs</p>
        <p>{{totalChef}}</p>
      </div>
    </div>
    <div class="bg-white h-[6rem] w-[20rem]  bg-white grid grid-cols-2 rounded-l">
      <div class="h-full">
        <img src="../../../static/images/adminImages/vendor2.svg" class="h-full ml-6 " alt="">
      </div>
      <div class="text-xl font-medium mt-4 mr-3">
        <p class="mb-1">Vendors</p>
        <p>{{totalVendor}}</p>
      </div>
    </div>
    <div class="bg-white h-[6rem] w-[20rem]  bg-white grid grid-cols-2 rounded-l">
      <div class="h-[80%]">
        <img src="../../../static/images/adminImages/restaurant.svg" class="h-full ml-8 mt-2" alt="">
      </div>
      <div class="text-xl font-medium mt-4 mr-3">
        <p class="mb-1">Restaurants</p>
        <p>{{totalRestaurant}}</p>
      </div>
    </div>
  </div>
  </div>
</sdiv>

  {% if allApprovedUsers %}
  
  <!-- tbale section -->
  <h1 class="ml-5 text-3xl font-bold">Users</h1>
  <div class="mt-5">

    <table class="w-full table" id="myTable">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="px-4 py-3.5   text-sm font-normal text-gray-700">
            S.N
          </th>
          <th scope="col" class="px-4 py-3.5 text-left text-sm font-normal text-gray-700">
            Email
          </th>
          <th scope="col" class="px-4 py-3.5 text-left text-sm font-normal text-gray-700">
            Username
          </th>
          <th scope="col" class="pl-12 py-3.5 text-left text-sm font-normal text-gray-700">
            User Type
          </th>



          <th scope="col" class="relative px-4 py-3.5">
            <span class="sr-only">view details</span>
          </th>

          <th scope="col" class="relative px-4 py-3.5">
            <span class="sr-only">delete user</span>
          </th>

        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 bg-white">
        {% for user_detail in allApprovedUsers %}
        <tr>
          <td class="whitespace-nowrap px-4 py-4">{{user_detail.id}}</td>
          <td class="whitespace-nowrap px-4 py-4">
            {{user_detail.email}}
          </td>

          <td class="whitespace-nowrap px-4 py-4 text-sm text-gray-700">
            {{user_detail}}
          </td>

          <td class="whitespace-nowrap px-12 py-4">
            <div class="text-sm text-gray-900">
              {{user_detail.groups.first.name}}
            </div>
          </td>

          <td class="whitespace-nowrap px-4 py-4 text-right text-sm font-medium">
            <a href="{% url 'userRequests' userID=user_detail.id %}" class="text-gray-700">
              <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M20 14V7C20 5.34315 18.6569 4 17 4H7C5.34315 4 4 5.34315 4 7V17C4 18.6569 5.34315 20 7 20H13.5M20 14L13.5 20M20 14H15.5C14.3954 14 13.5 14.8954 13.5 16V20"
                    stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M8 8H16" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  </path>
                  <path d="M8 12H12" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  </path>
                </g>
              </svg>
            </a>
          </td>

          <td class="whitespace-nowrap px-4 py-4 text-right text-sm font-medium">
            <form method="post" action="">
              {% csrf_token %}
              <input type="hidden" name="email" value="{{user_detail.email}}">
              <input type="hidden" name="username" value="{{user_detail}}">
              {% if user_detail.usersdetail.hasBlockedUser %}
              <button type="submit" name="unblock" class="text-green-700 mr-2">
                Unblock
              </button>
              
              {% else %}
              <button class="text-red-700 rounded mr-7" name="block">
                Block
                
              </button>
              

              {% endif %}
            </form>
          </td>


        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class=" w-[50%] mx-auto flex jusitfy-center">
      <div class="flex flex-col">
    
          <p class=" text-2xl text-gray-500 font-bold w-full ml-5 flex justify-center">No Users in the system</p>
          <img src="../../static/images/adminImages/nouser.svg" class="ml-[8rem] h-[25rem] w-[25rem] mt-7" alt="">
      </div>
    </div>
    {% endif %}

  </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.6.5/sweetalert2.all.min.js"></script>
{% load sweetify %}
{% sweetify %}
{% endblock %}