<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>adminNav</title>
  <link rel="stylesheet" href="../static/css/global.css" />

  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
  <script src="../static/JS/script.js"></script>
</head>
{% extends '../admin/navigationBarAdmin/adminbase.html' %} {% load static %} 
{% block content %}

{% if requestedUsers %}

            <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                  <tr>
                    <th
                      scope="col"
                      class="px-4 py-3.5 text-left text-sm font-normal text-gray-700"
                    >
                      <span>S.N</span>
                    </th>
                    <th
                      scope="col"
                      class="px-4 py-3.5 text-left text-sm font-normal text-gray-700"
                    >
                      Email
                    </th>
                    <th
                      scope="col"
                      class="px-4 py-3.5 text-left text-sm font-normal text-gray-700"
                    >
                      Username
                    </th>
                    <th
                      scope="col"
                      class="px-12 py-3.5 text-left text-sm font-normal text-gray-700"
                    >
                      Requested group
                    </th>
  
    
  
                    <th scope="col" class="relative px-4 py-3.5">
                      <span class="sr-only">view details</span>
                    </th>
  
                    <th scope="col" class="relative px-4 py-3.5">
                      <span class="sr-only">delete user</span>
                    </th>
  
                  </tr>
                </thead>
                <tbody class="divide-y divide-gray-200 bg-white">
                  {% for user_detail in requestedUsers %}
                  <tr>
                    <td class="whitespace-nowrap px-4 py-4">1</td>
                    <td class="whitespace-nowrap px-4 py-4">
                      {{user_detail.email}}
                    </td>
  
                    <td class="whitespace-nowrap px-4 py-4 text-sm text-gray-700">
                      {{user_detail}}
                    </td>
  
                    <td class="whitespace-nowrap px-12 py-4">
                      <div class="text-sm text-gray-900">
                        {{user_detail.usersdetail.requestedGroup}}
                      </div>
                    </td>
  
                    <td
                      class="whitespace-nowrap px-4 py-4 text-right text-sm font-medium"
                    >
                      <a
                        href="{% url 'userRequests' userID=user_detail.id %}"
                        class="text-gray-700"
                      >
                      <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M20 14V7C20 5.34315 18.6569 4 17 4H7C5.34315 4 4 5.34315 4 7V17C4 18.6569 5.34315 20 7 20H13.5M20 14L13.5 20M20 14H15.5C14.3954 14 13.5 14.8954 13.5 16V20" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M8 8H16" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M8 12H12" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                      </a>
                    </td>
  
                    
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
{% else %}
<div class=" w-[50%] mx-auto flex jusitfy-center">
  <div class="flex flex-col">

      <p class=" text-2xl text-gray-500 font-bold w-full mt-10 ml-5 flex justify-center">No Pending Requests waiting to be approved.</p>
      <img src="../../static/images/adminImages/nouser.svg" class="ml-[8rem] h-[25rem] w-[25rem] mt-10" alt="">
  </div>
</div>
{% endif %}
{% endblock %}