<!-- user_request_template.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Request </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body class="bg-gray-100 font-sans leading-normal tracking-normal">


    <div class="container mx-auto p-4">


        <div class="bg-white p-4 rounded-md shadow-md">
            <p class="text-lg font-semibold">{{ userData.get_full_name }}</p>
            <p class="text-gray-600">{{ userData.email }}</p>
            <p class="text-gray-600">{{ userData.username }}</p>
            <p class="text-gray-600">{{ userData.userDetails.requestedGroup }}</p>

            

            {% for img in document %}
            <a href="{{ img.image.url }}" target="_blank">
                <img src="{{ img.image.url }}" alt="Document Photo" class="mt-4 w-64 h-auto">
            </a>
            {% endfor %}


        </div>
        <br><br>

        {% if  allApprovedUsers %}
        
        {% endif %}


        <form action="" method="post" class="ml-auto">
            {% csrf_token %}
            <input type="hidden" name="user" value="{{ userData.username }}">
            <!-- <input type="hidden" name="group" value="{{ userData.username }}"> -->
            <button type="submit" name="approve" class="bg-green-500 text-white px-4 py-2 rounded-md mr-2">Approve</button>
            <button type="submit" name="reject" class="bg-red-500 text-white px-4 py-2 rounded-md">Reject</button>
        </form>

    </div>

</body>
</html>