<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Landing Page</title>
</head>

<body>
    {% extends '../navigationBar/base.html' %}
    {% block content %}
    <div class="h-[80vh] max-sm:h-[100vh] ml-0 sm:ml-[10rem]  flex items-center justify-center">
        <div class="flex items-center gap-8 md:gap-8 flex-col md:flex-row justify-around w-[70%] mx-auto">
            <div class="w-full space-y-4 ml-0 sm:ml-[15rem]">
                <h1 class="text-2xl md:text-5xl font-semibold">Cooking Made Fun</h1>
                <h1 class="text-2xl md:text-5xl font-semibold">and Easy: Unleash</h1>
                <h1 class="text-2xl md:text-5xl font-semibold">Your Inner Chef</h1>
                
                <p class="w-[90%]">Discover different <span class="text-[#F89500]"> recipes</span>. Help you to find the easiest way to cook</p>
                <div class="">
                    <a href="{% url 'recipe' %}">
                        <button class="bg-[#FFC061] text-white h-[3rem] w-[13rem] rounded-xl">
                        Explore recipes
                        </button>
                    </a>
                </div>
            </div>
            <div class="w-full h-full sm:mb-[3rem] sm:ml-20">  
                <img class="" src="../../static/images/homepage/curry.avif" alt="">
            </div>
            
        </div>
       
    </div>

    <div id="aboutNepalicious" class="my-[3rem] h-[100vh] items-center ">
        <div class="text-center text-2xl md:text-5xl">
            <h1>Why Nepalicious ?? </h1>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-around  sm:w-[80%] mx-auto mt-12">
            <div class="w-[20rem] text-center ">
                <img src="../../static/images/homepage/chefkiss.svg" alt="" class="ml-[1rem] mb-[3rem]">
                <p class="">Unbeatable quality We source directly from top-rated chefs, so we can provide the finest quality recipes.</p>
            </div>
            <div class="w-[20rem] text-center ml-[2rem]">
                <img src="../../static/images/homepage/rice.svg" alt="" class="ml-[1rem]">
                <p class="">Discover local restaurants. Dine in local restaurants around you, to discover authenticate Nepalese taste.</p>
            </div>
            <div class="w-[20rem] text-center mt-5 ml-[2rem]">
                <img src="../../static/images/homepage/marketcart.svg" alt="" class="ml-[1rem] mb-7">
                <p class="">Consolidate all equipment in a single location. Gather all spices, equipments and explore recipes.
                    
                    </p>
            </div>
        </div>
    </div>

    <div class="h-[100vh] mt-[35rem] sm:mt-[-10rem]">
        <div class="flex flex-col md:gap-[6rem] w-[80%] mx-auto text-center sm:text-left justify-center md:flex-row items-center md:justify-evenly ">
            <div class="w-[100%] ml-4 flex justify-center sm:justify-left sm:block">
                <img class="w-[100%]" src="../../static/images/homepage/restaurant.svg" alt="">
            </div>

            <div class="space-y-4 w-full">
                <h1 class="text-3xl sm:text-5xl font-semibold">Dine at local</h1>
                <h1 class="text-3xl sm:text-5xl font-semibold">restaurants: Enjoy</h1>
                <h1 class="text-3xl  sm:text-5xl font-semibold"> Nepalese Cuisines</h1>
                
                <p class="w-[100%] sm:w-[90%]">Discover different <span class="text-[#F89500]">restaurants</span>. Help you find the local restaurant for authentic Nepalese taste.</p>
                <div class="">
                    <button class="bg-[#FFC061] text-white h-[3rem] w-[13rem] rounded-xl">
                        Explore restaurant
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper3 h-[100vh] mb-[7rem] sm:mb-0 sm:h-[80vh]">
        <div class="flex flex-col sm:flex-row items-center w-[70%] mx-auto">
            <div class="flex flex-col justify-content-center mt-5 ml-0 md:ml-[20rem] mb-10">
                <h1 class="text-3xl sm:text-5xl font-bold">Get Local Products</h1>
                <br>
                <h1 class="text-3xl sm:text-5xl font-bold">and equipments:</h1>
                <br>
                <h1 class="text-3xl sm:text-5xl font-bold">Ease Access</h1>
                
                <p class="mt-7 sm:w-[90%]">Discover different <span class="text-[#F89500]">products</span>. Help you find the best products and recipes for ease cooking.</p>
                <div class="mt-[3rem]">
                    <a href="{% url 'marketplace' %}">
                            <button class="bg-[#FFC061] text-white h-[3rem] w-[13rem] rounded-xl">
                            Explore marketplace
                        </button>
                    </a>
                </div>
            </div>
            <div class="ml-0 sm:ml-[5rem]  mb-[4rem]">
                <img class="h-[90%] w-[35rem]" src="../../static/images/homepage/market.svg" alt="">
            </div>
            
        </div>
       
    </div>

    {% endblock %}
</body>

</html>