<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="h-[100vh]">
    <img src="" alt="">
    <div class="wrapper-login-wrapper flex h-[100vh]">
      <!-- section1 -->
      <div class="w-[50%]">
        <div>
          <div class="text-center bg-orange-500">
            <h1 class="text-5xl text-center uppercase font-semibold py-2">
              Welcome Back
            </h1>
            <p class="">Please enter your details.</p>
          </div>
          <form action="" method="post" class="w-[60%] m-auto ">
            {% csrf_token %}
            <div class="flex flex-col items-start">
              <label for="Username">Username</label>
              <input name="username" type="username" class="rounded-lg bg-[#f9f9f9]"  required/>
            </div>

            <div class="flex flex-col items-start">
              <label for="password">Password</label>
              <input name="password" type="password" class="rounded-lg bg-[#f9f9f9]" required />
            </div>
            <!-- forgot password and remember me section -->

            <div>
              <a href="#">Forgot password?</a>
            </div>

            <!-- sign in button -->
            <div>
              <button>Sign in</button>
            </div>
          </form>
        </div>
      </div>

      <!-- section 2 -->
      <div class="w-[50%] relative h-[100%] bg-[rgba(0,0,0,0.1)]">
        <img src="./loginimage.jpg" alt="" class="w-full h-full object-cover" />
        <div class="absolute inset-0 bg-[rgba(0,0,0,0.5)]">
          <!-- overlay -->
        </div>
      </div>
    </div>
  </body>
</html>
