<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const imageInput = document.getElementById('image-input');
            const imagePreview = document.getElementById('image-preview');
    
            imageInput.addEventListener('change', function() {
                if (this.files && this.files[0]) {
                    const reader = new FileReader();
    
                    reader.onload = function(e) {
                        imagePreview.src = e.target.result;
                    };
    
                    reader.readAsDataURL(this.files[0]);
                } else {
                    // Clear the preview when no file is selected
                    imagePreview.src = '';
                }
            });
        });
    </script>
    <style>
        .active-user {
            color: #F89500;
          }
    
            .wrapper-register-page-parent{
                background-image: url("../../static/images/loginRegister/background.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                
            }
       
    </style>
    
    
    <script>

      

        document.addEventListener("DOMContentLoaded", function () {
            const userGroup = document.getElementById('UserRequestedGroup');
            const documentImageField = document.getElementById("documentImageField");
            const documentInput = document.getElementById("id_document_image");
            const userRequestedGroupInput = document.getElementById("UserRequestedGroup");
        
            // Initialize the active anchor
            var activeAnchor = null;
        
            function selectUserType(userType, event) {
                event.preventDefault(); // Prevent default link behavior
                      
                // Toggle the display property based on the selected user type
                document.getElementById("documentImageField").style.display =
                    userType.toLowerCase() !== "user" ? "block" : "none";
                      
                // Reset the font color of the previously clicked anchor
                const currentActiveUser = document.querySelector(".active-user");
                currentActiveUser.classList.remove("active-user");
                      
                // Set the font color of the clicked anchor to orange
                event.currentTarget.classList.add("active-user");
                      
                // Set the value of the requested_group field
                userGroup.value = userType;
                userRequestedGroupInput.value = userType; // Set the hidden input value

                const userInfoEl = document.getElementsByClassName("user-info-el");
                const resutrantNameEl = document.getElementById("restaurant-name");
                const restaurantInputEl = document.getElementById("restaurant-input-el");

                console.log(restaurantInputEl.required);


                if(userType.toLowerCase() === "restaurant") {
                    Array.from(userInfoEl).forEach(el =>{
                        el.style.display = "none"
                    })

                    resutrantNameEl.style.display = "flex"
                    restaurantInputEl.required = true;

                } else{


                    Array.from(userInfoEl).forEach(el =>{
                        el.style.display = "flex"
                    })
                    restaurantInputEl.required = false;

                    resutrantNameEl.style.display = "none" 
                }
            }
            
            // Attach click event handlers to each list item
            var listItems = document.querySelectorAll(".user-type-choose ul li");
            listItems.forEach(function (item) {
                item.addEventListener("click", function (event) {
                    var userType = this.innerText; // Extract user type from the list item text
                    selectUserType(userType, event);
                });
            });
            
            // Set the default user type to "user" and trigger the click event
            selectUserType("user", { currentTarget: listItems[0] });
            listItems[0].classList.add("active-user"); // Set the active class for the default user type
            listItems[0].style.color = "#F89500"; // Set color for the default user type
        });  
    </script>
    
    
    
</head>

<body>
    {% extends '../navigationBar/base.html' %} {% block content %}
    <section class="wrapper-register-page-parent relative flex items-center justify-center overflow-y-hidden py-10 ">

        
        <div class="register-page-child flex w-full h-full">
            <div
            class="overlay h-[150%] absolute inset-0 bg-[rgba(0,0,0,0.3)]"
          ></div>
            <!-- register page child container here -->
            <section class="register-container-parent w-full flex items-center justify-center">

                <div class="register-container-child p-12 bg-white rounded-xl h-[1243px] relative z-40">
                    <!-- welcome messages here -->
                    <h1 class="uppercase text-3xl text-center pb-4 font-semibold tracking-widest">
                        Register
                    </h1>
                    <form action="" method="post" enctype="multipart/form-data" class="flex flex-col gap-y-5" >
                        {% csrf_token %}
                        <!-- choose user type -->
                        <div class="user-type-choose">
                            <ul class="flex justify-center items-center gap-x-3 text-">
                                <input type="hidden" id="UserRequestedGroup" name="UserRequestedGroup" value="">
                                <li class="active-user">
                                    <a href="javascript:void(0)" onclick="selectUserType('user', event)" name="user" value="user">User</a>
                                </li>
                                |
                                <li><a href="javascript:void(0)" onclick="selectUserType('chef', event)"  name="chef" value="chef">Chef</a></li>
                                |
                                <li><a href="javascript:void(0)" onclick="selectUserType('vendor', event)"  name="vendor" value="vendor">Vendor</a></li>
                                |
                                <li><a href="javascript:void(0)" onclick="selectUserType('restaurant', event)" name="restaurant" value="restaurant">Restaurant</a></li>
                            </ul>
                        </div>

                        <!-- for profile image  -->
                        <div class="border border-[#B6B6B6] rounded-full h-[6rem] w-[6rem] ml-[6.2rem] mt-4 mb-[3rem] bg-orange-500 relative" id="profileImageField">
                            <img id="image-preview" src="../../static/images/defaultUserProfilePictures/defaultProfile.jpg" alt="" class="h-[100%] w-[100%] object-cover rounded-full mb-4">
                            <input id="image-input" class="" type="file" name="profileImg" accept="image/png, image/jpeg" multiple>
                        </div>
                        <!-- for other input text fields -->
                        
                            <div class="name flex flex-col gap-y-1 user-info-el">
                                <label for="first_name">First Name</label>
                                <input type="text" id="name" name= "first_name" class="border py-[0.4rem] rounded-md pl-2"
                                    placeholder="Enter your Name" />
                            </div>

                            <div class="name flex flex-col gap-y-1 user-info-el">
                                <label for="last_name">Last Name</label>
                                <input type="text" id="name" name= "last_name" class="border py-[0.4rem] rounded-md pl-2"
                                    placeholder="Enter your Name" />
                            </div>

                            <div class="name hidden flex-col gap-y-1" id="restaurant-name">
                                <label for="last_name">Restaurant Name</label>
                                <input type="text"  name= "restaurant_name" class="border py-[0.4rem] rounded-md pl-2"
                                    placeholder="Enter your Name" id="restaurant-input-el"/>
                            </div>
                        
                            <div class="address flex flex-col gap-y-1">
                                <label for="address">Address</label>
                                <input type="text" id="address" name="address" class="border py-[0.4rem] rounded-md pl-2"
                                    placeholder="Enter your Address" required/>
                            </div>
    
                            <div class="contact_number flex flex-col gap-y-1">
                                <label for="contact_number">Phone Number</label>
                                <input type="text" id="contact" name="contact_number" class="border py-[0.4rem] rounded-md pl-2"
                                    placeholder="Enter your Phone Number" required/>
                            </div>
                       
                        
                        <div class="username flex flex-col gap-y-1">
                            <label for="username">Username</label>
                            <input type="text" id="username" name="username" class="border py-[0.4rem] rounded-md pl-2"
                                placeholder="Enter username" required/>
                        </div>

                        <div class="email flex flex-col gap-y-1">
                            <label for="email">Email</label>
                            <input type="text" id="email" name="email" class="border py-[0.4rem] rounded-md pl-2"
                                placeholder="Enter email" required />
                        </div>

                        <!-- password -->
                        <div class="password flex flex-col gap-y-1 relative">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password1" class="border py-[0.4rem] rounded-md pl-2"
                                placeholder="Enter password" required />
                                <span class="absolute inset-y-0 right-0 pr-2 flex items-center cursor-pointer mt-7"
                                    onclick="togglePasswordVisibility('password')">
                                    <svg class="h-5 w-5 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.75 12C9.75 10.7574 10.7574 9.75 12 9.75C13.2426 9.75 14.25 10.7574 14.25 12C14.25 13.2426 13.2426 14.25 12 14.25C10.7574 14.25 9.75 13.2426 9.75 12Z" fill="#1C274C"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2 12C2 13.6394 2.42496 14.1915 3.27489 15.2957C4.97196 17.5004 7.81811 20 12 20C16.1819 20 19.028 17.5004 20.7251 15.2957C21.575 14.1915 
                                        22 13.6394 22 12C22 10.3606 21.575 9.80853 20.7251 8.70433C19.028 6.49956 16.1819 4 12 4C7.81811 4 4.97196 6.49956 3.27489 8.70433C2.42496 9.80853 2 10.3606 2 12ZM12 8.25C9.92893 8.25 8.25 
                                        9.92893 8.25 12C8.25 14.0711 9.92893 15.75 12 15.75C14.0711 15.75 15.75 14.0711 15.75 12C15.75 9.92893 14.0711 8.25 12 8.25Z" fill="#1C274C"></path>
                                    </svg>
                                </span>
                        </div>

                        <!-- repassword -->
                        <div class="re-enterpass flex flex-col gap-y-1 relative">
                            <label for="re-enterpass">Password</label>
                            <input type="password" id="re-enterpass" name="password2" class="border py-[0.4rem] rounded-md pl-2"
                                placeholder="Re-enter password..." required/>
                                <span class="absolute inset-y-0 right-0 pr-2 flex items-center cursor-pointer mt-7"
                                    onclick="togglePasswordVisibility('re-enterpass')">
                                    <svg class="h-5 w-5 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.75 12C9.75 10.7574 10.7574 9.75 12 9.75C13.2426 9.75 14.25 10.7574 14.25 12C14.25 13.2426 13.2426 14.25 12 14.25C10.7574 14.25 9.75 13.2426 9.75 12Z" fill="#1C274C"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2 12C2 13.6394 2.42496 14.1915 3.27489 15.2957C4.97196 17.5004 7.81811 20 12 20C16.1819 20 19.028 17.5004 20.7251 15.2957C21.575 14.1915 
                                        22 13.6394 22 12C22 10.3606 21.575 9.80853 20.7251 8.70433C19.028 6.49956 16.1819 4 12 4C7.81811 4 4.97196 6.49956 3.27489 8.70433C2.42496 9.80853 2 10.3606 2 12ZM12 8.25C9.92893 8.25 8.25 
                                        9.92893 8.25 12C8.25 14.0711 9.92893 15.75 12 15.75C14.0711 15.75 15.75 14.0711 15.75 12C15.75 9.92893 14.0711 8.25 12 8.25Z" fill="#1C274C"></path>
                                    </svg>
                                </span>
                        </div>

                        <!-- Display the documentImageField based on the selection -->
                        <div id="documentImageField" style="display: none;">
                            <p class="pt-2 pb-2 text-[16px] text-gray-500">Upload your documents pictures here.</p>
                            <input class="block w-full text-sm text-slate-500
                                file:mr-4 file:py-2 file:px-4 file:rounded-md
                                file:border-0 file:text-sm file:font-semibold
                                file:bg-pink-100 file:text-pink-600
                                hover:file:bg-pink-100" type="file" name="documentImage" id="id_document_image" accept="image/png, image/jpeg, image/svg " multiple>
                        </div>

                        <!-- signin button -->

                        <div class="sign-in-button w-full text-center">
                            <button
                                class="w-full bg-[#FFC061] py-2 shadow-[0px_4px_10px_0px_rgba(233, 68, 75, 0.25)] rounded-xl text-white font-semibold" type="submit">
                                
                                Sign Up
                            </button>
                        </div>
                            <div>
                                Already have an account?
                                <a href="#" class="text-[#F89500] hover:underline">Sign in</a>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </section>
    {% endblock %}
</body>
<!-- for profile image
 -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const imageInput = document.getElementById('image-input');
        const imagePreview = document.getElementById('image-preview');
       
    
        imageInput.addEventListener('change', function() {
            if (this.files && this.files[0]) {
                const reader = new FileReader();
    
                reader.onload = function(e) {
                    imagePreview.src = e.target.result;
                };
    
                reader.readAsDataURL(this.files[0]);
            } else {
                // Clear the preview when no file is selected
                imagePreview.src = '';
            }
        });
    });
    
</script>

</html>