{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head> 
<style>

  .custom-scrollbar {
      overflow-y: scroll;
    
      &::-webkit-scrollbar {
          width: 8px;
      }

      &::-webkit-scrollbar-thumb {
          background-color: transparent;
      }
  }
</style>
<script>
    document.addEventListener('DOMContentLoaded', function () {
      document.getElementById('profileToggle').addEventListener('click', function () {
        var dropdown = document.getElementById('profileDropdown');
        dropdown.classList.toggle('hidden');
      });

      document.addEventListener('click', function (event) {
        var dropdown = document.getElementById('profileDropdown');
        var target = event.target;

        if (!target.closest('.profile') && !target.closest('#profileDropdown')) {
          dropdown.classList.add('hidden');
        }
      });
    });
  </script>
<body class="h-full"> 
  <!-- import header -->
  <div class="bg-white w-full pb-3 mb-1">
    <!-- import header here -->
    <header class="">
      <div class="row-header-1 flex justify-around items-center">
        <!-- logo -->
        <div class="logo">
          <a href="{% url 'home' %}"><img src="{% static 'images/headerFooter/logo.png' %}" alt=""
              class="w-60 mt-2" /></a>
        </div>

        <!-- row header 2 -->
        <div class="row-header-2 hidden md:block">
          <nav class="navigation-bar-menu">
            <ul class="flex justify-center items-center gap-x-10 text-xl mt-3 mr-12">
              <li class="{% if request.path == '/' %} text-[#F89500] {% endif %} hover:text-[#F89500]">
                <a href="{% url 'home' %}">Home</a>
              </li>
              |
              <li class="{% if request.path == '/recipe' %} text-[#F89500] {% endif %} hover:text-[#F89500]">
                <a href="{% url 'recipe' %}">Recipes</a>
              </li>
              |
              <li class="{% if request.path == '/restaurant' %} text-[#F89500] {% endif %} hover:text-[#F89500]">
                <a href="{% url 'restaurant' %}">Restaurants</a>
              </li>
              |
              <li class="{% if request.path == '/marketplace' %} text-[#F89500] {% endif %} hover:text-[#F89500]">
                <a href="{% url 'marketplace' %}">Market</a>
              </li>
            </ul>
          </nav>
        </div>

        <!-- cart and profile -->
        <div class="cart-and-profile flex items-center gap-x-3 mt-3">
          {% if not request.user.is_authenticated %}
          <button onclick="loginrequired()">
            <span class="cart">
              <img class="h-[2.8rem] hover:animate-bounce" src="../../static/images/headerFooter/cart.svg" alt="">
            </span>
          </button>
          {% else %}

          {% if request.user|has_group:" " or request.user|has_group:"user" %}
          <a href="{% url 'cart' %}">
            <span class="cart">
              <img class="h-[2.8rem] hover:animate-bounce" src="../../static/images/headerFooter/cart.svg" alt="">
            </span>
          </a>
          {% else %}
          <button onclick="error()">
            <span class="cart">
              <img class="h-[2.8rem] hover:animate-bounce" src="../../static/images/headerFooter/cart.svg" alt="">
            </span>
          </button>
          {% endif %}
          {% endif %}

          <!-- profile -->
          {% comment %} loop for authincated and unathenticated users {% endcomment %}
          <div class="relative inline-block text-left">
            {% if request.user.is_authenticated %}
            <span id="profileToggle" class="cursor-pointer profile">
              <img class="h-[2.4rem] w-[2.4rem] ml-4 mt-1 rounded-full object-cover"
                src="{{request.user.userprofilepicture.profileImage.url}}" alt="profile">
            </span>
            {% else %}
            <span id="profileToggle" class="cursor-pointer profile">
              <img class="h-[2.4rem] ml-4 mt-1" src="../../static/images/headerFooter/profile.svg" alt="profile">
            </span>
            {% endif %}

            <div id="profileDropdown"
              class="origin-top-right absolute z-20 left-[0.1111px]  mt-2 w-[6rem] rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 hidden">
              <div class="py-1">
                {% if request.user.is_authenticated %}
                <a href="{% url 'profile' %}"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Profile</a>

                {% else %}

                <a href="{% url 'login' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Login</a>

                {% endif %}

                {% if request.user.is_authenticated %}

                <a href="{% url 'logout' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Logout</a>

                {% else %}

                <a href="{% url 'register' %}"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Register</a>

                {% endif %}

              </div>
            </div>
          </div>
        </div>
        <button onclick="showHamburger()" id="showHamburgerMenu" class="relative z-[120] w-12 h-12 cursor-pointer block sm:hidden mt-3"><img src="{% static 'images/headerFooter/hamburger.svg' %}" alt=""></button>
      </div>

      <!-- hamburger menu -->

      <div onclick="showHamburger()" class="fixed inset-0 z-[100] h-[100vh] bg-[rgba(0,0,0,0.4)] text-white flex items-center justify-center"
      style="display: none;" id="hamburgerMenu">
      <nav class="fixed inset-0 z-[100] text-center h-[100vh] bg-[rgba(0,0,0,0.7)] text-white flex items-center justify-center">
        <ul class=" space-y-12">
          <li class="{% if request.path == '/' %} text-[#F89500] {% endif %} hover:text-[#F89500]">
            <a href="{% url 'home' %}">Home</a>
          </li>
          <li class="{% if request.path == '/recipe' %} text-[#F89500] {% endif %} hover:text-[#F89500]">
            <a href="{% url 'recipe' %}">Recipes</a>
          </li>
          <li class="{% if request.path == '/restaurant' %} text-[#F89500] {% endif %} hover:text-[#F89500]">
            <a href="{% url 'restaurant' %}">Restaurants</a>
          </li>
          <li class="{% if request.path == '/marketplace' %} text-[#F89500] {% endif %} hover:text-[#F89500]">
            <a href="{% url 'marketplace' %}">Market</a>
          </li>
        </ul>
      </nav>
    </div>
    <script>
      const hamburger = document.getElementById("hamburgerMenu")
      const showHamburger = () => {
        if (hamburger.style.display == "none") {
          hamburger.style.display = "block"
        } else {
          hamburger.style.display = "none"
        }
  
      }
    </script>
    </header>
    
  </div>

  {% comment %} sidebar start {% endcomment %}
  <div class="flex h-screen relative">
    <button onclick="sidebarHamburgerMenu()" class="absolute top-4 left-8 z-30 block sm:hidden">
      <img class="w-8 h-8" src="{% static 'images/headerFooter/hamburger.svg' %}" alt="">
    
    
    </button>

    <div class="sidebar h-full hidden absolute z-20" id="sidebarHamburger">
      <div class="wrapper w-[17rem] mt-4 h-full pt-5 rounded-xl bg-white">
        <div>
          <div class="h-[8rem] mt-[1rem]">
            <div class="border border-[#B6B6B6] rounded-full h-[5rem] w-[5rem] ml-[6rem]"
            id="profileImageField">
            <img id="image-preview" src="{{ request.user.userprofilepicture.profileImage.url }}" alt="profile"
            class="h-[100%] w-[100%] object-cover rounded-full" />
          </div>  
          <div class=" mt-4 flex justify-center">
            <p class="justify-self-center text-l pl-2">{{request.user}}</p> 
          </div>
        </div>
        <div class="mt-4">
          
          <div class="flex hover:bg-gray-300 h-[4rem] w-[16rem] items-center rounded-2xl">
            <img src="../../../static/images/profileDashboards/profile.svg" class="ml-[1.3rem] h-[2rem]" alt="" />
            <a href="{% url 'profile' %}"><p class="text-l ml-5">Profile Details</p> </a>
          </div>
            <div class="flex hover:bg-gray-300 h-[4rem] w-[16rem] items-center rounded-2xl">
              <img src="../../../static/images/profileDashboards/password.svg" class="ml-[1.3rem] h-[2rem]" alt="" />
              <a href="{% url 'changePassword' %}"><p class="text-l ml-5">Change Password</p> </a>
            </div>
            {% if request.user.is_authenticated and request.user|has_group:" "  or request.user|has_group:"user" %}

            <div class="flex hover:bg-gray-300 h-[4rem] w-[16rem] items-center rounded-2xl">
              <img src="../../../static/images/profileDashboards/recipebook.png" class="ml-[1.4rem] h-[2rem]" alt="" />
              <a href="{% url 'viewSavedRecipe' %}"><p class="text-l ml-5">Saved Recipe</p> </a>
            </div>
            {% endif %}
            {% if request.user.is_authenticated and request.user|has_group:" "  or request.user|has_group:"user" %}

            <div class="flex hover:bg-gray-300 h-[4rem] w-[16rem] items-center rounded-2xl">
              <img src="{% static 'images/profileDashboards/history.svg' %}" class="ml-[1.4rem] h-[2rem]" alt="" />
              <a href="{% url 'order_history' %}"><p class="text-l ml-5">Order History</p> </a>
            </div>
            {% endif %}
            {% if request.user.is_authenticated and  request.user|has_group:"vendor" %}
            <a href="{% url 'addProduct' %}"> 
              <div class="flex hover:bg-gray-300 h-[4rem] w-[16rem] items-center rounded-2xl">
              <img src="../../../static/images/profileDashboards/addProduct.svg" class="ml-[1.3rem] h-[2rem]" alt="" />
              <p class="text-l ml-5">Add Product</p>
            </div>
            </a>
            {% endif %}
            {% if request.user.is_authenticated and  request.user|has_group:"restaurant" %}
              {% if not request.user.addrestaurant %}
              <a href="{% url 'addRestaurant' %}"> 
                <div class="flex hover:bg-gray-300 h-[4rem] w-[16rem] items-center rounded-2xl">
                <img src="../../../static/images/profileDashboards/addProduct.svg" class="ml-[1.3rem] h-[2rem]" alt="" />
                <p class="text-l ml-5">Add Restaruant</p>
              </div>
              </a>

              {% else %}

              <a href="{% url 'edit_restaurant' request.user.addrestaurant.id %}"> 
                <div class="flex hover:bg-gray-300 h-[4rem] w-[16rem] items-center rounded-2xl">
                <img src="../../../static/images/profileDashboards/addProduct.svg" class="ml-[1.3rem] h-[2rem]" alt="" />
                <p class="text-l ml-5">Edit Restaruant</p>
              </div>
              </a>
              {% endif %}
            {% endif %}
            {% if request.user.is_authenticated and  request.user|has_group:"chef" %}
            <a href="{% url 'addRecipe' %}"> 
              <div class="flex hover:bg-gray-300 h-[4rem] w-[16rem] items-center rounded-2xl">
              <img src="../../../static/images/profileDashboards/recipe.svg" class="ml-[1.3rem] h-[2rem]" alt="" />
              <p class="text-l ml-5">Add Recipe</p>
            </div>
            </a>
            {% endif %}
            {% if request.user.is_authenticated and  request.user|has_group:"chef" %}
            <a href="{% url 'your_recipe' %}"> 
              <div class="flex hover:bg-gray-300 h-[4rem] w-[16rem] items-center rounded-2xl">
              <img src="{% static 'images/profileDashboards/savedrecipe.jpg' %}" class="ml-[1.3rem] h-[2rem]" alt="" />
              <p class="text-l ml-5">Your Recipe</p>
            </div>
            </a>
            {% endif %}
            {% if request.user.is_authenticated and  request.user|has_group:"vendor" %}
            <div class="flex hover:bg-gray-300 h-[4rem] w-[16rem] items-center rounded-2xl">
              <img src="../../../static/images/profileDashboards/edit.svg" class="ml-[1.3rem] h-[2rem]" alt="" />
              <a href="{% url 'your_product' %}"><p class="text-l ml-5">Your Products</p> </a>
            </div>
            {% endif %}
            {% if request.user.is_authenticated and  request.user|has_group:"vendor" %}
            <a href="{% url 'pending_orders' %}"> 
              <div class="flex hover:bg-gray-300 h-[4rem] w-[16rem] items-center rounded-2xl">
              <img src="../../../static/images/profileDashboards/pending.png" class="ml-[1.3rem] h-[2rem]" alt="" />
              <p class="text-l ml-5">Pending Orders</p>
            </div>
            </a>
            {% endif %}
            {% if request.user.is_authenticated and  request.user|has_group:"vendor" %}
            <a href="{% url 'vendor_order' %}"> 
              <div class="flex hover:bg-gray-300 h-[4rem] w-[16rem] items-center rounded-2xl">
              <img src="../../../static/images/profileDashboards/history.svg" class="ml-[1.3rem] h-[2rem]" alt="" />
              <p class="text-l ml-5">Orders History</p>
            </div>
            </a>
            {% endif %}
            {% if not request.user|has_group:"vendor" and not request.user|has_group:"restaurant" and not request.user|has_group:"chef" %}
            {% if request.user|has_group:" "  or request.user|has_group:"user" %}

            {% else %}
            <div class="flex hover:bg-gray-300 h-[4rem] w-[16rem] items-center rounded-2xl">
              
              <p class="text-l ml-5">Account not apprroved yet</p>
            </div>
            {% endif %}
            {% else %}
            
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <div class="sidebar bg-red-500 h-full hidden md:block">
      <div class="wrapper w-[17rem] mt-4 h-full pt-5 rounded-xl bg-white">
        <div>
          <div class="h-[8rem] mt-[1rem]">
            <div class="border border-[#B6B6B6] rounded-full h-[5rem] w-[5rem] ml-[6rem]"
            id="profileImageField">
            <img id="image-preview" src="{{ request.user.userprofilepicture.profileImage.url }}" alt="profile"
            class="h-[100%] w-[100%] object-cover rounded-full" />
          </div>  
          <div class=" mt-4 flex justify-center">
            <p class="justify-self-center text-l pl-2">{{request.user}}</p> 
          </div>
        </div>
        <div class="mt-4">
          
          <div class="flex hover:bg-gray-300 h-[4rem] w-[16rem] items-center rounded-2xl">
            <img src="../../../static/images/profileDashboards/profile.svg" class="ml-[1.3rem] h-[2rem]" alt="" />
            <a href="{% url 'profile' %}"><p class="text-l ml-5">Profile Details</p> </a>
          </div>
            <div class="flex hover:bg-gray-300 h-[4rem] w-[16rem] items-center rounded-2xl">
              <img src="../../../static/images/profileDashboards/password.svg" class="ml-[1.3rem] h-[2rem]" alt="" />
              <a href="{% url 'changePassword' %}"><p class="text-l ml-5">Change Password</p> </a>
            </div>
            {% if request.user.is_authenticated and request.user|has_group:" "  or request.user|has_group:"user" %}

            <div class="flex hover:bg-gray-300 h-[4rem] w-[16rem] items-center rounded-2xl">
              <img src="../../../static/images/profileDashboards/recipebook.png" class="ml-[1.4rem] h-[2rem]" alt="" />
              <a href="{% url 'viewSavedRecipe' %}"><p class="text-l ml-5">Saved Recipe</p> </a>
            </div>
            {% endif %}
            {% if request.user.is_authenticated and request.user|has_group:" "  or request.user|has_group:"user" %}

            <div class="flex hover:bg-gray-300 h-[4rem] w-[16rem] items-center rounded-2xl">
              <img src="{% static 'images/profileDashboards/history.svg' %}" class="ml-[1.4rem] h-[2rem]" alt="" />
              <a href="{% url 'order_history' %}"><p class="text-l ml-5">Order History</p> </a>
            </div>
            {% endif %}
            {% if request.user.is_authenticated and  request.user|has_group:"vendor" %}
            <a href="{% url 'addProduct' %}"> 
              <div class="flex hover:bg-gray-300 h-[4rem] w-[16rem] items-center rounded-2xl">
              <img src="../../../static/images/profileDashboards/addProduct.svg" class="ml-[1.3rem] h-[2rem]" alt="" />
              <p class="text-l ml-5">Add Product</p>
            </div>
            </a>
            {% endif %}
            {% if request.user.is_authenticated and  request.user|has_group:"restaurant" %}
              {% if not request.user.addrestaurant %}
              <a href="{% url 'addRestaurant' %}"> 
                <div class="flex hover:bg-gray-300 h-[4rem] w-[16rem] items-center rounded-2xl">
                <img src="../../../static/images/profileDashboards/addProduct.svg" class="ml-[1.3rem] h-[2rem]" alt="" />
                <p class="text-l ml-5">Add Restaruant</p>
              </div>
              </a>

              {% else %}

              <a href="{% url 'edit_restaurant' request.user.addrestaurant.id %}"> 
                <div class="flex hover:bg-gray-300 h-[4rem] w-[16rem] items-center rounded-2xl">
                <img src="../../../static/images/profileDashboards/addProduct.svg" class="ml-[1.3rem] h-[2rem]" alt="" />
                <p class="text-l ml-5">Edit Restaruant</p>
              </div>
              </a>
              {% endif %}
            {% endif %}
            {% if request.user.is_authenticated and  request.user|has_group:"chef" %}
            <a href="{% url 'addRecipe' %}"> 
              <div class="flex hover:bg-gray-300 h-[4rem] w-[16rem] items-center rounded-2xl">
              <img src="../../../static/images/profileDashboards/recipe.svg" class="ml-[1.3rem] h-[2rem]" alt="" />
              <p class="text-l ml-5">Add Recipe</p>
            </div>
            </a>
            {% endif %}
            {% if request.user.is_authenticated and  request.user|has_group:"chef" %}
            <a href="{% url 'your_recipe' %}"> 
              <div class="flex hover:bg-gray-300 h-[4rem] w-[16rem] items-center rounded-2xl">
              <img src="{% static 'images/profileDashboards/savedrecipe.jpg' %}" class="ml-[1.3rem] h-[2rem]" alt="" />
              <p class="text-l ml-5">Your Recipe</p>
            </div>
            </a>
            {% endif %}
            {% if request.user.is_authenticated and  request.user|has_group:"vendor" %}
            <div class="flex hover:bg-gray-300 h-[4rem] w-[16rem] items-center rounded-2xl">
              <img src="../../../static/images/profileDashboards/edit.svg" class="ml-[1.3rem] h-[2rem]" alt="" />
              <a href="{% url 'your_product' %}"><p class="text-l ml-5">Your Products</p> </a>
            </div>
            {% endif %}
            {% if request.user.is_authenticated and  request.user|has_group:"vendor" %}
            <a href="{% url 'pending_orders' %}"> 
              <div class="flex hover:bg-gray-300 h-[4rem] w-[16rem] items-center rounded-2xl">
              <img src="../../../static/images/profileDashboards/pending.png" class="ml-[1.3rem] h-[2rem]" alt="" />
              <p class="text-l ml-5">Pending Orders</p>
            </div>
            </a>
            {% endif %}
            {% if request.user.is_authenticated and  request.user|has_group:"vendor" %}
            <a href="{% url 'vendor_order' %}"> 
              <div class="flex hover:bg-gray-300 h-[4rem] w-[16rem] items-center rounded-2xl">
              <img src="../../../static/images/profileDashboards/history.svg" class="ml-[1.3rem] h-[2rem]" alt="" />
              <p class="text-l ml-5">Orders History</p>
            </div>
            </a>
            {% endif %}
            {% if not request.user|has_group:"vendor" and not request.user|has_group:"restaurant" and not request.user|has_group:"chef" %}
            {% if request.user|has_group:" "  or request.user|has_group:"user" %}

            {% else %}
            <div class="flex hover:bg-gray-300 h-[4rem] w-[16rem] items-center rounded-2xl">
              
              <p class="text-l ml-5">Account not apprroved yet</p>
            </div>
            {% endif %}
            {% else %}
            
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <script>
      const sidebarHamburgerMenu = () => {
        const sidebar = document.getElementById("sidebarHamburger");
        if (sidebar.style.display == "none" ){
          sidebar.style.display = "block"
        }
        else {
          sidebar.style.display = "none"
        }
      }
    </script>
    <div class="changed-details ml-4 w-full h-screen mt-4 rounded-xl bg-white custom-scrollbar">
     
      <script>

        function error() {
          Swal.fire({
            title: 'Access Denied',
            text: 'Need to be usertype user to access cart.',
            icon: 'error',
            confirmButtonText: 'Ok'
          });
        }
        function loginrequired() {
          Swal.fire({
            title: 'Access Denied',
            text: 'Please login first.',
            icon: 'error',
            confirmButtonText: 'Ok'
          });
        }
        </script>