{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  
</head> 
<style>
  {% comment %} for scroll hiding {% endcomment %}

  .custom-scrollbar {
      overflow-y: scroll;
    
      &::-webkit-scrollbar {
          width: 8px;
      }

      &::-webkit-scrollbar-thumb {
          background-color: transparent;
      }
  }
</style>
<script>
    document.addEventListener('DOMContentLoaded', function () {
      document.getElementById('profileToggle').addEventListener('click', function () {
        var dropdown = document.getElementById('profileDropdown');
        dropdown.classList.toggle('hidden');
      });

      document.addEventListener('click', function (event) {
        var dropdown = document.getElementById('profileDropdown');
        var target = event.target;

        if (!target.closest('.profile') && !target.closest('#profileDropdown')) {
          dropdown.classList.add('hidden');
        }
      });
    });
  </script>
<body class="h-full"> 
  <!-- import header -->
  <div class="bg-white w-full pb-3 mb-1">
    <!-- import header here -->
    <header>
      <div class="row-header-1 flex justify-around items-center">
        <!-- logo -->
        <div class="logo">
         <a href="{% url 'home' %}"><img src="../../static/images/headerFooter/logo.png" alt="" class="w-60 ml-6 mt-2" /></a>
        </div>

        <!-- search box -->
        <div class="search-box-section w-[50%] h-6">
          <!-- search -->
          <div class="search flex items-center w-full border py-1 rounded-lg">
            <input type="search" class="h-8 w-full pl-2 focus:outline-none" placeholder="What are you looking for?" />
            <span class="search-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="25" viewBox="0 0 45 40" fill="none">
                <path
                  d="M37.3556 35L25.4556 24.15C24.5111 24.8389 23.425 25.3843 22.1972 25.7861C20.9694 26.188 19.663 26.3889 18.2778 26.3889C14.8463 26.3889 11.9424 25.305 9.56622 23.1373C7.19 20.9696 6.00126 18.322 6 15.1944C6 12.0657 7.18874 9.41811 9.56622 7.25156C11.9437 5.085 14.8476 4.00115 18.2778 4C21.7093 4 24.6137 5.08385 26.9912 7.25156C29.3687 9.41926 30.5568 12.0669 30.5556 15.1944C30.5556 16.4574 30.3352 17.6486 29.8944 18.7681C29.4537 19.8875 28.8556 20.8778 28.1 21.7389L40 32.5889L37.3556 35ZM18.2778 22.9444C20.6389 22.9444 22.6461 22.1913 24.2996 20.6849C25.953 19.1785 26.779 17.3484 26.7778 15.1944C26.7778 13.0417 25.9517 11.2121 24.2996 9.70572C22.6474 8.19935 20.6401 7.44559 18.2778 7.44444C15.9167 7.44444 13.91 8.1982 12.2579 9.70572C10.6057 11.2132 9.77904 13.0428 9.77778 15.1944C9.77778 17.3472 10.6045 19.1774 12.2579 20.6849C13.9113 22.1924 15.9179 22.9456 18.2778 22.9444Z"
                  fill="black" />
              </svg>
            </span>
          </div>
        </div>

        <!-- cart and profile -->
        <div class="cart-and-profile flex items-center gap-x-3 mt-3">
          <a href="{% url 'cart' %}">
            <span class="cart">
              <img class="h-[2.8rem] hover:animate-bounce" src="../../static/images/headerFooter/cart.svg" alt="">
            </span>
          </a>
          <!-- profile -->
          <div class="relative inline-block text-left">
            {% if request.user.is_authenticated %}
            <span id="profileToggle" class="cursor-pointer profile">
              <img class="h-[2.4rem] w-[2.4rem] ml-4 mt-1 rounded-full object-cover" src="{{request.user.userprofilepicture.profileImage.url}}" alt="profile">
            </span>
            {% else %}
            <span id="profileToggle" class="cursor-pointer profile">
              <img class="h-[2.4rem] ml-4 mt-1" src="../../static/images/headerFooter/profile.svg" alt="profile">
            </span>
            {% endif %}

            {% comment %} profile dropdown for authinticated user and non authincated user {% endcomment %}
            <div id="profileDropdown"
              class="origin-top-right absolute left-[0.1111px]  mt-2 w-[6rem] rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 hidden">
              <div class="py-1">
                {% if request.user.is_authenticated %}
                <a href="{% url 'profile' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Profile</a>

                {% else %}

                <a href="{% url 'login' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Login</a>

                {% endif %}
                
                {% if request.user.is_authenticated %}

                <a href="{% url 'logout' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Logout</a>

                {% else %}

                <a href="{% url 'register' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Register</a>

                {% endif %}

              
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- row header 2 -->
      <div class="row-header-2">
        <nav class="navigation-bar-menu">
          <ul class="flex justify-center items-center gap-x-10 text-xl mt-2 ml-[4rem]">
            <li><a href="{% url 'home' %}">Home</a></li>
            |
            <li><a href="{% url 'recipe' %}">Recipes</a></li>
            |
            <li><a href="{% url 'restaurant' %}">Restaurants</a></li>
            |
            <li><a href="{% url 'marketplace' %}">Market</a></li>
          </ul>
        </nav>
      </div>
    </header>
  </div>

  {% comment %} sidebar start {% endcomment %}
  <div class="flex h-screen ">
    <div class="sidebar h-full">
      <div class="wrapper w-[17rem] mt-4 h-full pt-5 rounded-xl bg-white">
        <div>
          <div class="h-[8rem] mt-[1rem]">
            <div class="border border-[#B6B6B6] rounded-full h-[5rem] w-[5rem] ml-[6rem]"
            id="profileImageField">
            <img id="image-preview" src="{{ request.user.userprofilepicture.profileImage.url }}" alt="profile"
            class="h-[100%] w-[100%] object-cover rounded-full" />
          </div>
          <div class=" mt-4 flex justify-center">
            <p class="justify-self-center text-l pl-2">{{request.user}}</p> 
          </div>
        </div>
        <div class="mt-4">
          
          <div class="flex hover:bg-gray-300 h-[4rem] w-[16rem] items-center rounded-2xl">
            <img src="../../../static/images/profileDashboards/profile.svg" class="ml-[1.3rem] h-[2rem]" alt="" />
            <a href="{% url 'profile' %}"><p class="text-l ml-5">Profile Details</p> </a>
          </div>
            <div class="flex hover:bg-gray-300 h-[4rem] w-[16rem] items-center rounded-2xl">
              <img src="../../../static/images/profileDashboards/password.svg" class="ml-[1.3rem] h-[2rem]" alt="" />
              <a href="{% url 'changePassword' %}"><p class="text-l ml-5">Change Password</p> </a>
            </div>
            {% if request.user.is_authenticated and request.user|has_group:" "  or request.user|has_group:"user" %}

            <div class="flex hover:bg-gray-300 h-[4rem] w-[16rem] items-center rounded-2xl">
              <img src="../../../static/images/profileDashboards/recipebook.png" class="ml-[1.4rem] h-[2rem]" alt="" />
              <a href="{% url 'viewSavedRecipe' %}"><p class="text-l ml-5">Saved Recipe</p> </a>
            </div>
            {% endif %}
            {% if request.user.is_authenticated and request.user|has_group:" "  or request.user|has_group:"user" %}

            <div class="flex hover:bg-gray-300 h-[4rem] w-[16rem] items-center rounded-2xl">
              <img src="../../../static/images/profileDashboards/recipebook.png" class="ml-[1.4rem] h-[2rem]" alt="" />
              <a href="{% url 'order_history' %}"><p class="text-l ml-5">Order History</p> </a>
            </div>
            {% endif %}
            {% if request.user.is_authenticated and  request.user|has_group:"vendor" %}
            <a href="{% url 'addProduct' %}"> 
              <div class="flex hover:bg-gray-300 h-[4rem] w-[16rem] items-center rounded-2xl">
              <img src="../../../static/images/profileDashboards/addProduct.svg" class="ml-[1.3rem] h-[2rem]" alt="" />
              <p class="text-l ml-5">Add Product</p>
            </div>
            </a>
            {% endif %}
            {% if request.user.is_authenticated and  request.user|has_group:"restaurant" %}
              {% if not request.user.addrestaurant_set.exists %}
              <a href="{% url 'addRestaurant' %}"> 
                <div class="flex hover:bg-gray-300 h-[4rem] w-[16rem] items-center rounded-2xl">
                <img src="../../../static/images/profileDashboards/addProduct.svg" class="ml-[1.3rem] h-[2rem]" alt="" />
                <p class="text-l ml-5">Add Restaruant</p>
              </div>
              </a>
              {% endif %}
            {% endif %}

            {% if request.user.is_authenticated and  request.user|has_group:"chef" %}
            <a href="{% url 'addRecipe' %}"> 
              <div class="flex hover:bg-gray-300 h-[4rem] w-[16rem] items-center rounded-2xl">
              <img src="../../../static/images/profileDashboards/recipe.svg" class="ml-[1.3rem] h-[2rem]" alt="" />
              <p class="text-l ml-5">Add Recipe</p>
            </div>
            </a>
            {% endif %}
            {% if request.user.is_authenticated and  request.user|has_group:"vendor" %}
            <div class="flex hover:bg-gray-300 h-[4rem] w-[16rem] items-center rounded-2xl">
              <img src="../../../static/images/profileDashboards/edit.svg" class="ml-[1.3rem] h-[2rem]" alt="" />
              <a href="#"><p class="text-l ml-5">Your Products</p> </a>
            </div>
            {% endif %}
            {% if request.user.is_authenticated and  request.user|has_group:"vendor" %}
            <a href="{% url 'pending_orders' %}"> 
              <div class="flex hover:bg-gray-300 h-[4rem] w-[16rem] items-center rounded-2xl">
              <img src="../../../static/images/profileDashboards/addProduct.svg" class="ml-[1.3rem] h-[2rem]" alt="" />
              <p class="text-l ml-5">Pending Orders</p>
            </div>
            </a>
            {% endif %}
            {% if request.user.is_authenticated and  request.user|has_group:"vendor" %}
            <a href="{% url 'vendor_order' %}"> 
              <div class="flex hover:bg-gray-300 h-[4rem] w-[16rem] items-center rounded-2xl">
              <img src="../../../static/images/profileDashboards/addProduct.svg" class="ml-[1.3rem] h-[2rem]" alt="" />
              <p class="text-l ml-5">Orders History</p>
            </div>
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="changed-details ml-4 w-full h-screen mt-4 rounded-xl bg-white custom-scrollbar">
     
