<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>

<body class="bg-gray-100">
    {% extends '../profiles/navigationSidebar/profilebase.html' %}
    {% block content %}
    <!-- Change Password -->
    <div class="">
        <div class="bg-white h-full rounded-xl">
            <div class="flex justify-between">
                <div>
                    <h1 class="font-semibold text-3xl md:text-4xl ml-[3.7rem] mt-10 mb-5">Change Password</h1>
                </div>
            </div>


            <!-- FORM for getting values -->
            <form action="" method="post">
                {% csrf_token %}
                <div class="md:w-[700px]">

                    <!-- Current Password  Start -->
                    <div class="p-2 pl-16 flex  ">
                        <div class="py-2">
                            <div class="relative w-full mt-2">
                                <label for="currentPassword" class="mb-2 text-[17px] text-gray-900 ">Current
                                    Password</label>
                                <input name="currentPassword" id="currentPassword" placeholder="" type="password"
                                    class="focus:outline-none text-gray-600 border border-2 border-[#85858] mt-2 py-3 pl-2 rounded-xl w-[34rem]"
                                    placeholder="" required>
                                <span class="absolute inset-y-0 right-20 pr-4 flex items-center cursor-pointer mt-7"
                                    onclick="togglePasswordVisibility('currentPassword')">
                                    <svg class="h-5 w-5 text-gray-500" fill="none" stroke="currentColor"
                                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9.75 12C9.75 10.7574 10.7574 9.75 12 9.75C13.2426 9.75 14.25 10.7574 14.25 12C14.25 13.2426 13.2426 14.25 12 14.25C10.7574 14.25 9.75 13.2426 9.75 12Z"
                                            fill="#1C274C"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M2 12C2 13.6394 2.42496 14.1915 3.27489 15.2957C4.97196 17.5004 7.81811 20 12 20C16.1819 20 19.028 17.5004 20.7251 15.2957C21.575 14.1915 
                                        22 13.6394 22 12C22 10.3606 21.575 9.80853 20.7251 8.70433C19.028 6.49956 16.1819 4 12 4C7.81811 4 4.97196 6.49956 3.27489 8.70433C2.42496 9.80853 2 10.3606 2 12ZM12 8.25C9.92893 8.25 8.25 
                                        9.92893 8.25 12C8.25 14.0711 9.92893 15.75 12 15.75C14.0711 15.75 15.75 14.0711 15.75 12C15.75 9.92893 14.0711 8.25 12 8.25Z"
                                            fill="#1C274C"></path>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </div>


                    <!-- New Password  -->
                    <div class="p-2 pl-16 flex  ">
                        <div class="py-2">
                            <div class="relative md:w-[700px]">
                                <label for="newPassword1" class="block mb-2 text-[17px] text-gray-900 ">New
                                    Password</label>
                                <input name="newpassword1" id="newpassword1" placeholder="" type="password"
                                    class="focus:outline-none text-gray-600 border border-2 border-[#85858] py-3 pl-2 rounded-xl w-[34rem]"
                                    placeholder="" required>
                                <span class="absolute inset-y-0 right-40 pr-2 flex items-center cursor-pointer mt-7"
                                    onclick="togglePasswordVisibility('newpassword1')">
                                    <svg class="h-5 w-5 text-gray-500" fill="none" stroke="currentColor"
                                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9.75 12C9.75 10.7574 10.7574 9.75 12 9.75C13.2426 9.75 14.25 10.7574 14.25 12C14.25 13.2426 13.2426 14.25 12 14.25C10.7574 14.25 9.75 13.2426 9.75 12Z"
                                            fill="#1C274C"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M2 12C2 13.6394 2.42496 14.1915 3.27489 15.2957C4.97196 17.5004 7.81811 20 12 20C16.1819 20 19.028 17.5004 20.7251 15.2957C21.575 14.1915 
                                        22 13.6394 22 12C22 10.3606 21.575 9.80853 20.7251 8.70433C19.028 6.49956 16.1819 4 12 4C7.81811 4 4.97196 6.49956 3.27489 8.70433C2.42496 9.80853 2 10.3606 2 12ZM12 8.25C9.92893 8.25 8.25 
                                        9.92893 8.25 12C8.25 14.0711 9.92893 15.75 12 15.75C14.0711 15.75 15.75 14.0711 15.75 12C15.75 9.92893 14.0711 8.25 12 8.25Z"
                                            fill="#1C274C"></path>
                                    </svg>
                                </span>

                            </div>
                        </div>
                    </div>


                    <!-- Confirm New Password  Start -->
                    <div class=" flex ml-[4rem]">
                        <div class="py-2">
                            <div class="relative md:w-[700px]">
                                <label for="confirmNewPassword" class="block mb-2 text-[17px] text-gray-900 ">Confirm
                                    New
                                    Password</label>
                                <input name="newpassword2" id="newpassword2" placeholder="" type="password"
                                    class="focus:outline-none text-gray-600 border border-2 border-[#85858] py-3 pl-2 rounded-xl w-[34rem]"
                                    placeholder="" required>
                                <span class="absolute inset-y-0 right-40 pr-2 flex items-center cursor-pointer mt-7"
                                    onclick="togglePasswordVisibility('newpassword2')">
                                    <svg class="h-5 w-5 text-gray-500" fill="none" stroke="currentColor"
                                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9.75 12C9.75 10.7574 10.7574 9.75 12 9.75C13.2426 9.75 14.25 10.7574 14.25 12C14.25 13.2426 13.2426 14.25 12 14.25C10.7574 14.25 9.75 13.2426 9.75 12Z"
                                            fill="#1C274C"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M2 12C2 13.6394 2.42496 14.1915 3.27489 15.2957C4.97196 17.5004 7.81811 20 12 20C16.1819 20 19.028 17.5004 20.7251 15.2957C21.575 14.1915 
                                        22 13.6394 22 12C22 10.3606 21.575 9.80853 20.7251 8.70433C19.028 6.49956 16.1819 4 12 4C7.81811 4 4.97196 6.49956 3.27489 8.70433C2.42496 9.80853 2 10.3606 2 12ZM12 8.25C9.92893 8.25 8.25 
                                        9.92893 8.25 12C8.25 14.0711 9.92893 15.75 12 15.75C14.0711 15.75 15.75 14.0711 15.75 12C15.75 9.92893 14.0711 8.25 12 8.25Z"
                                            fill="#1C274C"></path>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="pl-16 mt-8">
                        <button name="changePassword" class="bg-[#FFC061] rounded-2xl py-3 px-9 text-white">Update
                            Password</button>
                    </div>

                </div>
            </form>
        </div>
    </div>


    {% endblock %}
</body>

</html>