<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chef Dashboard</title>
    <!-- for changing profile picture  -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const imageInput = document.getElementById('image-input');
            const imagePreview = document.getElementById('edit-image-preview');

            imageInput.addEventListener('change', function () {
                if (this.files && this.files[0]) {
                    const reader = new FileReader();

                    reader.onload = function (e) {
                        imagePreview.src = e.target.result;
                    };

                    reader.readAsDataURL(this.files[0]);
                } else {
                    // Clear the preview when no file is selected
                    imagePreview.src = '';
                }
            });
        });

    </script>
</head>

<body class="bg-gray-100 ">
    {% extends '../profiles/navigationSidebar/profilebase.html' %}
    {% block content %}
    {% load custom_tags %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <!-- For changing profile -->
    <div class="flex items-center justify-between w-[75%]">
        <div class="flex items-center justify-between gap-4 p-12">
            <div class="flex items-center flex-col gap-2">
                <div class="border border-[#B6B6B6] rounded-full h-[8rem] w-[8rem]"
                    id="profileImageField">
                    <img id="edit-image-preview" src="{{ request.user.userprofilepicture.profileImage.url }}" alt="profile"
                        class="h-[100%] w-[100%] object-cover rounded-full" />
                </div>
                <!-- change profile -->
                <div class="flex justify-center ">
                    <label for="image-input" class="">
                        <span class="cursor-pointer hover:text-blue-700 hover:underline hover:underline-offset-2">Change
                            profile</span>
                        <input id="image-input" name="img" type="file" accept="image/png, image/jpeg" multiple
                            class="absolute block opacity-0  cursor-pointer" />
                    </label>
                </div>

                <!-- save and remove button -->
                <input type="hidden" name="user" value="{{request.user}}">
                <div class="flex items-center gap-5">
                    <div class="pt-4">
                        <button name="saveImage" class="bg-[#FFC061] rounded-xl p-2 pl-5 pr-5 text-white">Save</button>
                    </div>

                    <!-- Remove button -->
                    <div class="pt-4">
                        <button name="deleteImage"
                            class="text-white rounded-xl bg-red-800 focus:outline-none border border-gray-400 p-2  ">Remove</button>
                    </div>
                </div>
            </div>
        </div>



        <!--  -->
        <div class="mt-10">
            <div class=" space-y-8 ">
                {% if request.user.is_authenticated and  request.user|has_group:"restaurant" %}
                <div>
                    <label for="restaurant_name" >Restaurant name</label>
                    <input name="restaurant_name" value="{{request.user.usersdetail.restaurant_name}}" type="first_name"
                        class="ml-[40px] pl-2 border w-[400px] border-solid border-[black] rounded-xl py-1"
                        placeholder="Your Restaurant Name">
                </div>
                {% else %}
                <div class=" justify-between flex ">
                    <label for="">First Name</label>
                    <input name="first_name"  value="{{request.user.first_name}}" type="first_name"
                        class="pl-2 border w-[400px] border-solid border-[black] rounded-xl py-1">
                </div>

                <div class=" justify-between flex ">
                    <label for="">Last name</label>
                    <input name="last_name"  value="{{request.user.last_name}}" type="last_name"
                        class="pl-2 border w-[400px] border-solid border-[black] rounded-xl py-1">
                </div>
                {% endif %}
                <div class=" justify-between flex ">
                    <label for="">Contact number</label>
                    <input name="phone_number"  type="phone_number"
                        value="{{request.user.usersdetail.phone_number}}"
                        class="ml-[40px] pl-2 border w-[400px] border-solid border-[black] rounded-xl py-1">
                </div>
                <div class="justify-between flex">
                    <label for="email" >Email</label>
                    <input name="email" type="email" value="{{request.user.email}}"
                        class="pl-2 border w-[400px] border-solid border-[black] rounded-xl py-1"
                        placeholder="Your Email">
                </div>
    
                <div class=" justify-between flex ">
                    <label for="">Address</label>
                    <input name="address"  type="address" value="{{request.user.usersdetail.address}}"
                        class="pl-2 border w-[400px] border-solid border-[black] rounded-xl py-1">
                </div>

                
            </div>
            <div class=" mt-10 mb-2 w-40">
                <button type=submit name="update"
                    class="bg-[#FFC061] rounded-[3px] w-full py-2 text-white rounded-xl">Update</button>
            </div>
            </form>
        </div>
    </div>

    <!--  -->

    {% endblock %}

</body>
<!-- for viewing image after selecting new-->

</html>