<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Document</title>
</head>

<body class="bg-gray-100">
    <!-- getting header -->
    {% extends '../profiles/navigationSidebar/profilebase.html' %} {% block content %}
    {% load custom_tags %}
    <div class="parent">

        <div class="flex items-center justify-between w-[90%] py-4 mx-auto mt-5">
            <div class="flex items-center gap-[22rem]">
                <div class="w-36  h-36">
                    <img id="image-preview" src="{{ request.user.userprofilepicture.profileImage.url }}" alt="profile"
                        class="w-full h-full object-cover rounded-full" />
                </div>
                <div>
                    <a href="{% url 'editprofile'%}">
                        <button class="py-2 px-4 bg-[#E29578] text-white rounded">
                            Edit Profile
                        </button>
                    </a>
                </div>
            </div>
        </div>
        
        <!-- for forms -->

        <div class="w-[90%] mx-auto mt-8">
            <form action="" class=" space-y-8 w-[55%]">

                <div class=" justify-between flex ">
                    <label for="">Email</label>
                    <input name="email" disabled type="email" value="{{request.user.email}}" class="pl-2 border w-[400px] border-solid border-[black] rounded-xl py-1">
                </div>
                {% if request.user.is_authenticated and  request.user|has_group:"restaurant" %}
                <div class=" justify-between flex ">
                    <label for="">Restaurant name</label>
                    <input name="restaurant_name" disabled value="{{request.user.usersdetail.restaurant_name}}" type="last_name" class="pl-2 border w-[400px] border-solid border-[black] rounded-xl py-1">
                </div>
                
                {% else %}
                <div class=" justify-between flex ">
                    <label for="">First Name</label>
                    <input name="first_name" disabled value="{{request.user.first_name}}" type="first_name" class="pl-2 border w-[400px] border-solid border-[black] rounded-xl py-1">
                </div>

                <div class=" justify-between flex ">
                    <label for="">Last name</label>
                    <input name="last_name" disabled value="{{request.user.last_name}}" type="last_name" class="pl-2 border w-[400px] border-solid border-[black] rounded-xl py-1">
                </div>
                {% endif %}
                <div class=" justify-between flex ">
                    <label for="">Contact number</label>
                    <input name="contact" disabled type="contact_number"
                    value="{{request.user.usersdetail.phone_number}}" class="pl-2 border w-[400px] border-solid border-[black] rounded-xl py-1">
                </div>

                <div class=" justify-between flex ">
                    <label for="">Address</label>
                    <input name="address" disabled type="address" value="{{request.user.usersdetail.address}}" class="pl-2 border w-[400px] border-solid border-[black] rounded-xl py-1">
                </div>

                <div class=" justify-between flex ">
                    <label for="">Username</label>
                    <input name="address" disabled type="address" value="{{request.user}}"" class="pl-2 border w-[400px] border-solid border-[black] rounded-xl py-1">
                </div>
            </form>
        </div>
    </div>

    {%endblock %}
</body>

</html>