<link rel="stylesheet" href="../static/css/global.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="../../static/js/script.js"></script>

<!-- component -->
<div class="bg-gray-100 h-screen">
    <div class="bg-white p-6  md:mx-auto flex justify-center mt-10">
        <div>

            <img src="../../static/images/marketplace/error.svg" class="h-[20rem]" alt="">
            <div class="text-center">
                <p class="text-gray-600 mt-6 mb-2">There was some error during your payment.</p>
                <p> Have a great day!  </p>
                <div class="py-10 text-center">
                    <a href="{% url 'cart'%}" class="px-12 bg-[#61A0FF] hover:bg-indigo-500 text-white font-semibold py-3">
                        GO BACK 
                    </a>
                </div>
            </div>
        </div>
  </div>
</div>