<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Recipe</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body class="bg-gray-100">
    {% extends '../profiles/navigationSidebar/profilebase.html' %}
    {% block content %}
    <div class="container bg-gray-100 ">
        {% comment %} formstart {% endcomment %}
        <form action="" id="editRecipeForm" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- buttons -->
            <div class="shadow-sm bg-white p-2 flex justify-between rounded-xl">
                <div class="p-4">
                    <h1 class="text-3xl font-semibold">Edit Recipe</h1>


                </div>
                <div class="flex justify-between mt-5 mr-5">
                    <script>
                        document.addEventListener("DOMContentLoaded", function () {
                            var imageInput = document.getElementById('product-image') || [];

                            // Get the URLs of existing images
                            var existingImages = document.querySelectorAll('.product-image');

                            console.log(existingImages.length);
                            // Function to handle change in the image input
                            imageInput.addEventListener('change', function (event) {
                                var files = event.target.files;
                                var container = document.getElementById("image-container");
                                document.getElementById('product-img-heading').style.display = "none";

                                // Clear existing images
                                container.innerHTML = '';
                                console.log("images", imageInput); // Log the image input element itself
                                console.log("Selected files:", files); // Log the selected files
                                console.log("Number of selected files:", files.length);

                                // Display uploaded images
                                for (let i = 0; i < Math.min(files.length, 3); i++) {
                                    const file = files[i];
                                    const fileURL = URL.createObjectURL(file);

                                    const imgDiv = document.createElement("div");
                                    imgDiv.classList.add("w-[10rem]", "h-[10rem]", "rounded-xl");
                                    imgDiv.innerHTML = `<img src="${fileURL}" class="w-full h-full rounded-xl object-cover" alt="" />`;

                                    container.appendChild(imgDiv);
                                }
                                if (files.length === 3) {
                                    document.querySelector('button[type="submit"]').disabled = false;
                                } else {
                                    document.querySelector('button[type="submit"]').disabled = true;
                                }
                            });
                        });
                        function buttondisabledimage() {
                            Swal.fire({
                                title: 'Error',
                                text: 'Please upload exactly 3 images.',
                                icon: 'error',
                                confirmButtonText: 'Ok'
                            });
                        }

                        document.addEventListener("DOMContentLoaded", function () {
                            var submitButton = document.querySelector('button[type="submit"]');
                            var imageInput = document.getElementById('product-image');
                            var existingImages = document.querySelectorAll('.product-image');
                            var maxImages = 3;


                            // Function to handle submit button click
                            submitButton.addEventListener('click', function (event) {
                                var files = imageInput.files;
                                var totalImages = existingImages.length + files.length;

                                if (existingImages.length === 3) return;

                                if (files.length !== 3) {
                                    event.preventDefault(); // Prevent form submission if the number of images is not 3
                                    buttondisabledimage(); // Call the error function
                                }
                            });

                            // Function to handle change in the image input
                            imageInput.addEventListener('change', function (event) {
                                var files = event.target.files;
                                if (files.length === 3) {
                                    submitButton.disabled = false; // Enable submit button if exactly 3 images are uploaded
                                } else {
                                    buttondisabledimage(); // Disable submit button if the number of images is not 3
                                }
                            });
                        });
                    </script>

                    <button type="submit" class=" rounded-xl w-[10rem] h-10 bg-[#FFC061]">
                        <span class="text-white">Make Changes</span>
                    </button>
                </div>
            </div>

            <!-- adding gap -->
            <div class="bg-gray-100">
                <br>

            </div>
            <div class="flex justify-between">
                <!-- general informations -->
                <div class="container2 shadow-sm bg-white rounded-xl w-[48%] h-[57.5vh] mb-5">
                    <!-- Recipe name -->
                    <div class="flex justify-between">
                        <div class="p-5">
                            <h1 class="text-2xl mb-5 font-bold">General Infromation</h1>

                            <label class="text-xl">Recipe Name</label><br>
                            {{ form.recipeName }}<br>

                            <Label class="text-xl">Recipe Description</Label><br>
                            <!-- <textarea class="border-2 border-gray-400 rounded-xl p-1 mt-2 w-[25rem] bg-gray-100"
                                name="productDescription" rows="5" cols="20"></textarea> -->
                            {{ form.recipeDescription }}
                        </div>
                    </div>
                </div>

                <div class="w-[50%] mr-4">
                    <!-- add image of recipe -->
                    <div class="shadow-sm bg-white rounded-xl h-[57.5vh] w-[100%]">
                        <div class="p-4">

                            <h1 class="text-2xl font-bold ">Add Image of the food</h1>
                            <p>(All existing images will be replaced upon editing the recipe image.)</p>
                        </div>
                        <div class="pt-2 pl-24 md:pr-[40px]"></div>

                        <!-- Container for displaying uploaded recipe images -->

                        <h1 class="text-center px-5" id="product-img-heading"></h1>

                        <div id="image-container" class="grid grid-cols-3 gap-3 ml-7">
                            <!-- Display existing images -->
                            {% for image in recipe_instance.images.all %}

                            <div class="w-[10rem] h-[10rem] rounded-xl">
                                <img src="{{ image.image.url }}"
                                    class="product-image w-full h-full rounded-xl object-cover" alt="sure" />
                            </div>
                            {% endfor %}
                        </div>
                        <!--HERE IMAGE WILL BE DISPLAYED-->

                        <div class="flex justify-center mt-[5rem]">
                            <label required for="product-image-input"
                                class="bg-[#FFC061] cursor-pointer text-white rounded-xl relative inline-flex justify-center w-[15rem] px-7 py-2 border border-transparent text-base leading-6 font-medium rounded-md transition duration-150 ease-in-out">
                                <span>Add image</span>
                                <input id="product-image" name="recipeImage" type="file" accept="image/*" multiple
                                    class="absolute block opacity-0 w-full h-full cursor-pointer" />
                            </label>
                        </div>


                    </div>
                </div>
            </div>
                <!-- steps -->
            <div class="container4 bg-gray-100 flex gap-2 rounded-xl mb-3 rounded-xl">
                    {% comment %} Steps {% endcomment %}
                    <div class="rounded-xl bg-white w-[48%]">
                        <div class="flex flex-col rounded-xl">
                            <div class="px-4 " id="recipie-wrapper">
                                <H1 class="font-bold text-2xl py-2">Steps for the recipe</H1>
                                <p class="text-xl text-gray-400 p-2 font-medium" id="old-recipie-container">
                                    {% for step in recipeSteps %}
                                    {% if '.' in step %}</p>
                                <p style="margin-bottom: 10px;" class="text-gray-400">{{ step|linebreaksbr|safe }}</p>
                                {% else %}
                                <span style="margin-left: 20px; margin-bottom: 10px;">{{ step|linebreaksbr }} </span>
                                {% endif %}
                                {% endfor %}

                            </div>

                        </div>
                    </div>
                <div class="container4 bg-white rounded-xl w-[50%]  mr-4 rounded-xl">
                    <div class="flex justify-between rounded-xl">
                        <div class="pt-5 px-5 pb-4 rounded-xl">
                            <h1 class="text-2xl mb-5 font-bold">Add New Steps for the recipe</h1>
                            <div class="pb-10 flex">
                                <input type="text" id="recipeInput"
                                    class="border-2 border-gray-400 rounded-xl p-2 mt-2 mb-5 w-[25rem] bg-gray-100"
                                    placeholder="Enter Steps and press add">
                                <button type="button" onclick="addStep()"
                                    class="bg-[#61A0FF] text-white ml-5 mt-2 h-10 rounded-xl px-8">Add</button>
                            </div>
                            <div id="recipeContainerWrapper" style="display: none;">
                                <div id="recipeContainer"
                                    class="pt-3 p-5 w-[35rem] border-2 border-gray-400 rounded-xl">
                                    <h1 class="text-2xl font-semibold pb-5 ">Steps for the Recipe(Old steps will be
                                        replaced)</h1>
                                    <!-- Steps will be dynamically added here -->
                                    <input type="hidden" id="hiddenStepInput" name="steps" value="" required>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--FOR steps-->
                    <script>
                        var stepCounter = 1; // Counter for numbering steps
                        function nosteps() {
                            Swal.fire({
                                title: 'Error',
                                text: 'Steps field cannot be empty Please add a step first',
                                icon: 'error',
                                confirmButtonText: 'Ok'
                            });
                        }
                        function addStep() {
                            var recipeInput = document.getElementById("recipeInput");
                            var stepValue = recipeInput.value.trim();

                            if (stepValue === "") {
                                nosteps();
                                return;
                            }

                            // Remove any full stops in the middle of the step
                            stepValue = stepValue.replace(/\./g, '');

                            // Add a full stop at the end of the step if it doesn't already have one
                            if (!stepValue.endsWith('.')) {
                                stepValue += '.';
                            }

                            var recipeContainerWrapper = document.getElementById("recipeContainerWrapper");
                            recipeContainerWrapper.style.display = "block";

                            var recipeContainer = document.getElementById("recipeContainer");
                            var stepElement = document.createElement("div");
                            stepElement.textContent = stepCounter + ". " + stepValue; // Include numbering
                            recipeContainer.appendChild(stepElement);

                            recipeInput.value = ""; // Clear input field after adding step
                            updateHiddenStepsInput();

                            stepCounter++; // Increment the step counter
                        }

                        function updateHiddenStepsInput() {
                            var recipeContainer = document.getElementById("recipeContainer");
                            var steps = recipeContainer.querySelectorAll("div");
                            var hiddenStepInput = document.getElementById("hiddenStepInput");
                            var stepsText = [];
                            console.log(stepsText);
                            steps.forEach(function (step) {
                                stepsText.push(step.textContent);
                            });

                            hiddenStepInput.value = stepsText.join(", ");
                            console.log("hidden", hiddenStepInput.value);
                        }

                    </script>

                </div>
            </div>
            <!-- for ingredients -->

            <div class="container4 mb-4 bg-gray-100 flex gap-2 w-full mr-4">
                {% comment %} Steps {% endcomment %}
                <div class=" w-[48%] my-1 bg-white rounded-xl">
                    <!-- for Ingreidents -->
                    <div class="p-5">
                        <h1 class="text-2xl font-bold">Ingredients</h1>
                    </div>
                    <div class=" px-5 w-full text-gray-400">
                        <p class="text-l font-small ">
                            {% for ingredient in recipeIngredient %}
                            {% if '.' in ingredient %}
                        <p style="margin-bottom: 10px;" class="">{{ ingredient|linebreaksbr|safe }}</p>
                        {% else %}
                        <p style="margin-left: 20px; margin-bottom: 10px;">{{ ingredient|linebreaksbr }}</p>
                        {% endif %}
                        {% endfor %}
                        </p>
                    </div>
                </div>

                <div class="rounded-xl bg-white my-1 w-[50%]">
                    <div class="flex justify-between rounded-xl">
                        <div class="p-5 rounded-xl">
                            <h1 class="text-2xl mb-5 font-bold">Add new list of the ingredients</h1>
                            <div class="pb-10 flex">
                                <input type="text" id="ingredientsInput"
                                    class="border-2 border-gray-400 rounded-xl p-2 mt-2 mb-5 w-[25rem] bg-gray-100"
                                    placeholder="Enter Ingredients and press add">
                                <button type="button" onclick="addIngredient()"
                                    class="bg-[#61A0FF] text-white ml-5 mt-2 h-10 rounded-xl px-8">Add</button>
                            </div>
                            <div id="ingredientsContainerWrapper" style="display: none;">
                                <div id="ingredientsContainer"
                                    class="pt-5 p-5 w-[35rem] border-2  border-gray-400 rounded-xl">
                                    <h1 class="text-2xl font-semibold pb-5 ">List of ingredients(Old Ingredient will be
                                        replaced)</h1>
                                    <!-- Steps will be dynamically added here -->
                                    <input type="hidden" id="hiddenIngredientsInput" name="ingredients" value=""
                                        required>
                                </div>
                            </div>
                        </div>
                        <!-- for ingrident -->
                        <script>
                            var ingredientCounter = 1; // Counter for numbering ingredients
                            function noingriedents() {
                                Swal.fire({
                                    title: 'Error',
                                    text: 'Ingredient field cannot be empty Please add a ingredient first',
                                    icon: 'error',
                                    confirmButtonText: 'Ok'
                                });
                            }

                            function addIngredient() {
                                var ingredientsInput = document.getElementById("ingredientsInput");
                                var ingredientValue = ingredientsInput.value.trim();

                                if (ingredientValue === "") {
                                    noingriedents();
                                    return;
                                }

                                var ingredientsContainerWrapper = document.getElementById("ingredientsContainerWrapper");
                                ingredientsContainerWrapper.style.display = "block";

                                var ingredientsContainer = document.getElementById("ingredientsContainer");
                                var ingredientElement = document.createElement("div");
                                ingredientElement.textContent = ingredientCounter + ". " + ingredientValue; // Include numbering
                                ingredientsContainer.appendChild(ingredientElement);

                                ingredientsInput.value = ""; // Clear input field after adding ingredient
                                updateHiddenIngredientsInput();

                                ingredientCounter++; // Increment the ingredient counter
                            }

                            function updateHiddenIngredientsInput() {
                                var ingredientsContainer = document.getElementById("ingredientsContainer");
                                var ingredients = ingredientsContainer.querySelectorAll("div");
                                var hiddenIngredientsInput = document.getElementById("hiddenIngredientsInput");
                                var ingredientsText = [];

                                ingredients.forEach(function (ingredient) {
                                    ingredientsText.push(ingredient.textContent);
                                });

                                hiddenIngredientsInput.value = ingredientsText.join(", ");
                            }
                        </script>
                    </div>
                </div>

            </div>

            <div class="flex gap-2 bg-gray-100">

                <!-- add cuisine type -->
                <div class="shadow-sm bg-white rounded-xl p-4 w-[48%] h-auto">
                    <h2 class="text-2xl font-bold mb-4">Cuisine Type</h2>

                    <div class="relative inline-block text-gray-700">
                        {{ form.cuisineType }}

                    </div>

                    <br>
                </div>
                <div class="bg-white w-[50%] rounded-xl p-4">
                    <h2 class="text-2xl font-bold mt-2 mb-2">Add Video URL</h2>
                    <div>
                        {{ form.video }}
                    </div>
                </div>

            </div>
        </form>
    </div>
    {% endblock %}
</body>

</html>