<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Recipe</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
</head>

<body class="bg-gray-100">
    {% extends '../profiles/navigationSidebar/profilebase.html' %}
    {% block content %}
    <div class="container bg-gray-100 ">
        {% comment %} formstart {% endcomment %}
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- buttons -->
            <div class="shadow-sm bg-white p-2 flex justify-between rounded-xl">
                <div class="p-4">
                    <h1 class="text-3xl font-semibold">Edit Recipe</h1>


                </div>
                <div class="flex justify-between mt-5 mr-5">                 
                    <script>
                        var stepCounter = 1; // Counter for numbering steps
                    
                        function addStep() {
                            var recipeInput = document.getElementById("recipeInput");
                            var stepValue = recipeInput.value.trim();
                        
                            if (stepValue === "") {
                                alert("Step cannot be empty");
                                return;
                            }
                        
                            // Remove any full stops in the middle of the step
                            stepValue = stepValue.replace(/\./g, '');
                        
                            // Add a full stop at the end of the step if it doesn't already have one
                            if (!stepValue.endsWith('.')) {
                                stepValue += '.';
                            }
                        
                            var recipeContainerWrapper = document.getElementById("recipeContainerWrapper");
                            recipeContainerWrapper.style.display = "block";
                        
                            var recipeContainer = document.getElementById("recipeContainer");
                            var stepElement = document.createElement("div");
                            stepElement.textContent = stepCounter + ". " + stepValue; // Include numbering
                            recipeContainer.appendChild(stepElement);
                        
                            recipeInput.value = ""; // Clear input field after adding step
                            updateHiddenStepsInput();
                        
                            stepCounter++; // Increment the step counter
                        }
                    
                        function updateHiddenStepsInput() {
                            var recipeContainer = document.getElementById("recipeContainer");
                            var steps = recipeContainer.querySelectorAll("div");
                            var hiddenStepInput = document.getElementById("hiddenStepInput");
                            var stepsText = [];
                    
                            steps.forEach(function (step) {
                                stepsText.push(step.textContent);
                            });
                    
                            hiddenStepInput.value = stepsText.join(", ");
                        }
                    </script>

                    <button type="submit" class=" rounded-xl w-[10rem] h-10 bg-[#FFC061]">
                        <span class="text-white">Make Changes</span>
                    </button>
                </div>
            </div>

            <!-- adding gap -->
            <div class="bg-gray-100">
                <br>

            </div>
            <div class="flex justify-between">
                <!-- general informations -->
                <div class="container2 shadow-sm bg-white rounded-xl w-[48%] h-[57.5vh] mb-5">
                    <!-- Recipe name -->
                    <div class="flex justify-between">
                        <div class="p-5">
                            <h1 class="text-2xl mb-5 font-bold">General Infromation</h1>

                            <label class="text-xl">Recipe Name</label><br>
                            {{ form.recipeName }}<br>

                            <Label class="text-xl">Recipe Description</Label><br>
                            <!-- <textarea class="border-2 border-gray-400 rounded-xl p-1 mt-2 w-[25rem] bg-gray-100"
                                name="productDescription" rows="5" cols="20"></textarea> -->
                            {{ form.recipeDescription }}
                        </div>
                    </div>
                </div>

                <div class="w-[50%] mr-4">
                    <!-- add image of recipe -->
                    <div class="shadow-sm bg-white rounded-xl h-[57.5vh] w-[100%]">
                        <div class="p-4">

                            <h1 class="text-2xl font-bold ">Add Image of the food</h1>
                            <p>(All existing images will be replaced upon editing the recipe image.)</p>
                        </div>
                            <div class="pt-2 pl-24 md:pr-[40px]"></div>

                        <!-- Container for displaying uploaded recipe images -->

                        <h1 class="text-center px-5" id="product-img-heading"></h1>

                        <div id="image-container" class="grid grid-cols-3 gap-3 ml-7">
                            <!-- Display existing images -->
                        {% for image in recipe_instance.images.all %}
                        
                        <div class="w-[10rem] h-[10rem] rounded-xl">
                            <img src="{{ image.image.url }}" class="product-image w-full h-full rounded-xl object-cover" alt="sure" />
                        </div>
                        {% endfor %}
                        </div>
                        <!--HERE IMAGE WILL BE DISPLAYED-->

                        <div class="flex justify-center mt-[5rem]">
                            <label required for="product-image-input"
                                class="bg-[#FFC061] cursor-pointer text-white rounded-xl relative inline-flex justify-center w-[15rem] px-7 py-2 border border-transparent text-base leading-6 font-medium rounded-md transition duration-150 ease-in-out">
                                <span>Add image</span>
                                <input id="product-image" name="recipeImage" type="file" accept="image/*"
                                    multiple class="absolute block opacity-0 w-full h-full cursor-pointer" />
                            </label>
                        </div>


                    </div>
                </div>
            </div>
            <div class="flex justify-between">
                <!-- steps -->
                <div class="container4 bg-gray-100 rounded-xl w-[48%] rounded-xl">
                    {% comment %} Steps {% endcomment %}
                    <div class="rounded-xl bg-white">
                        <div class="flex flex-col rounded-xl">
                            <div class="px-4 py-2" id="recipie-wrapper">
                                <H1 class="font-semibold text-xl py-2">Steps for the recipe</H1>
                                <input type="hidden" id="hiddenStepInput" name="steps"  required>

                                <p class="text-l font-small" id="old-recipie-container">
                                    {% for step in recipeSteps %}
                                    {% if '.' in step %}
                                    <p style="margin-bottom: 10px;" class="">{{ step|linebreaksbr|safe }}</p>
                                    {% else %}
                                    <span style="margin-left: 20px; margin-bottom: 10px;">{{ step|linebreaksbr }} </span>
                                    {% endif %}
                                    {% endfor %}
                                </p>
                            </div>
                            <div class="px-5 rounded-xl">
                                <div class="flex gap-7">
                                    <h1 class="text-2xl mb-5 font-bold">Want to add new steps</h1>
                                    <div class="flex">
                                </div>
                                    <button type="button" data-modal-target="crud-modal" data-modal-toggle="crud-modal" class="bg-[#61A0FF] text-white  h-10 rounded-xl px-8">Add new steps</button>
                                </div>

                                <!-- modal start -->
                                <div id="crud-modal" tabindex="-1" aria-hidden="true"
                                    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-[25-rem] md:inset-0 h-[calc(100%-1rem)] max-h-full">
                                    <div class="relative p-4 w-full max-w-md max-h-full">
                                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                            <!-- Modal header -->
                                            <div
                                                class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                                                <!-- add steps -->
                                                <div class=" flex">
                                                    <input type="text" name="recipeInput" id="recipeInput" class="border-2 border-gray-400 rounded-xl p-2 mt-2 mb-5 w- bg-gray-100" placeholder="Enter Steps and press add">
                                                    <button type="button" onclick="addStep()" class="bg-[#61A0FF] text-white ml-5 mt-2 h-10 rounded-xl px-8">Add</button>
                                                </div>
                                                <button type="button"
                                                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                                    data-modal-toggle="crud-modal">
                                                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                                        fill="none" viewBox="0 0 14 14">
                                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                            stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                                    </svg>
                                                    <span class="sr-only">Close modal</span>
                                                </button>
                                            </div>
                                            <!-- Modal body -->
            
                                            <div class="grid gap-4 mb-4 grid-cols-2">
                                                <div class="col-span-2 p-4 md:p-5">
                                                    <div id="recipeContainerWrapper" class="mt-5">
                                                        <div id="recipeContainer" class="px-5 w-full border-2  border-gray-400 rounded-xl">
                                                            <h1 class="text-2xl font-semibold pb-5 ">Steps for the Recipe</h1>
                                                            <input type="hidden" id="hiddenStepInput" name="steps" value="">
                                                            
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div>
                                                <button type="button" id="replace-new-recipies">Changes Steps</button>
                                            </div>
                                        </div> 
                                
                                <div class="mt-4 w-full md:w-[62%] text-gray-400">
                                    </div></div>
 
                                </div>
                                
                                
                            </div>     
                        </div>
                    </div>
                    <script>
                        var stepCounter = 1; // Counter for numbering steps
                        const newRecipies = []
                        
                        function addStep() {
                            var recipeInput = document.getElementById("recipeInput");
                            var stepValue = recipeInput.value.trim();

                        
                            if (stepValue === "") {
                                alert("Step cannot be empty");
                                return;
                            }
                        
                            // Remove any full stops in the middle of the step
                            stepValue = stepValue.replace(/\./g, '');
                        
                            // Add a full stop at the end of the step if it doesn't already have one
                            if (!stepValue.endsWith('.')) {
                                stepValue += '.';
                            }

                            newRecipies.push(stepValue)

                            console.log(newRecipies);

                        
                            var recipeContainerWrapper = document.getElementById("recipeContainerWrapper");
                            recipeContainerWrapper.style.display = "block";
                        
                            var recipeContainer = document.getElementById("recipeContainer");
                            var stepElement = document.createElement("div");
                            stepElement.textContent = stepCounter + ". " + stepValue; // Include numbering
                            recipeContainer.appendChild(stepElement);
                        
                            recipeInput.value = ""; // Clear input field after adding step
                            updateHiddenStepsInput();
                        
                            stepCounter++; // Increment the step counter
                        }
                    
                        function addIngredient() {
                            var ingredientInput = document.getElementById("ingredientsInput");
                            var ingredientValue = ingredientInput.value.trim();
                        
                            if (ingredientValue === "") {
                                alert("Ingredient cannot be empty");
                                return;
                            }
                        
                            var ingredientsContainerWrapper = document.getElementById("ingredientsContainerWrapper");
                            ingredientsContainerWrapper.style.display = "block";
                        
                            var ingredientsContainer = document.getElementById("ingredientsContainer");
                            var ingredientElement = document.createElement("div");
                            ingredientElement.textContent = ingredientValue; 
                            ingredientsContainer.appendChild(ingredientElement);
                        
                            ingredientInput.value = ""; // Clear input field after adding ingredient
                            updateHiddenIngredientsInput();
                        }
                    
                        function updateHiddenStepsInput() {
                            var recipeContainer = document.getElementById("recipeContainer");
                            var steps = recipeContainer.querySelectorAll("div");
                            var hiddenStepInput = document.getElementById("hiddenStepInput");
                            var stepsText = [];
                    
                            steps.forEach(function (step) {
                                stepsText.push(step.textContent);
                            });
                    
                            hiddenStepInput.value = stepsText.join(", ");
                        }
                    
                        function updateHiddenIngredientsInput() {
                            var ingredientsContainer = document.getElementById("ingredientsContainer");
                            var ingredients = ingredientsContainer.querySelectorAll("div");
                            var hiddenIngredientsInput = document.getElementById("hiddenIngredientsInput");
                            var ingredientsText = [];
                    
                            ingredients.forEach(function (ingredient) {
                                ingredientsText.push(ingredient.textContent);
                            });
                    
                            hiddenIngredientsInput.value = ingredientsText.join(", ");
                        }
                    
                        document.getElementById("replace-new-recipies")?.addEventListener("click", function(){

                            document.getElementById("old-recipie-container").style.display = "none";

                            const newRecipiesContainer = document.createElement("div");

                            document.getElementById("recipie-wrapper").appendChild(newRecipiesContainer);


                            newRecipies.forEach((item, index) => {

                                const element = document.createElement("p");
                                element.style.marginBottom = "10px";
                                element.textContent = `${index + 1} ${item}`;

                               newRecipiesContainer.appendChild(element);

                            })


                            document.getElementById("hiddenStepInput").value = newRecipies.join();

                        });
                    </script>


                </div>
                <!-- for ingredients -->
                <div class="container4 bg-gray-100 rounded-xl w-[50%] mr-4 rounded-xl">
                    {% comment %} Steps {% endcomment %}
                    <div class="rounded-xl bg-white">
                        <div class="flex justify-between rounded-xl">
                            <div class="p-5 rounded-xl">
                                <h1 class="text-2xl mb-5 font-bold">List of the ingredients</h1>
                                <div class="pb-10 flex">
                                    <input type="text" id="ingredientsInput"
                                        class="border-2 border-gray-400 rounded-xl p-2 mt-2 mb-5 w-[25rem] bg-gray-100"
                                        placeholder="Enter Ingredients and press add">
                                    <button type="button" onclick="addIngredient()"
                                        class="bg-[#61A0FF] text-white ml-5 mt-2 h-10 rounded-xl px-8">Add</button>
                                </div>
                                <div id="ingredientsContainerWrapper" style="display: none;">
                                    <div id="ingredientsContainer"
                                        class="pt-5 p-5 w-[25rem] border-2  border-gray-400 rounded-xl">
                                        <h1 class="text-2xl font-semibold pb-5 ">List of ingredients</h1>
                                        <!-- Steps will be dynamically added here -->
                                        <input type="hidden" id="hiddenIngredientsInput" name="ingredients" value=""
                                            required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--FOR ingredients-->
                       

                    </div>

                </div>
            </div>

            <div class="flex mt-5 gap-2">

                <!-- add cuisine type -->
                <div class="shadow-sm bg-white rounded-xl w-[48%] p-4 h-auto pl-[2rem]">
                    <h2 class="text-2xl font-bold mb-4">Cuisine Type</h2>

                    <div class="relative inline-block text-gray-700">
                        {{ form.cuisineType }}

                    </div>

                    <br>
                </div>


                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        var cuisineTypeToggle = document.getElementById('cuisineTypeToggle');
                        var cuisineTypeContent = document.getElementById('cuisineTypeContent');

                        var checkboxes = document.querySelectorAll('input[name="cuisineType"]');

                        cuisineTypeToggle.addEventListener('click', function () {
                            cuisineTypeContent.classList.toggle('hidden');
                        });

                        // Add event listener to update the selected cuisine type
                        checkboxes.forEach(function (checkbox) {
                            checkbox.addEventListener('change', function () {
                                // Get the checked checkboxes
                                var selectedCuisineTypes = Array.from(checkboxes)
                                    .filter(checkbox => checkbox.checked)
                                    .map(checkbox => checkbox.value);

                                // Update button text with selected cuisine types
                                cuisineTypeToggle.textContent = selectedCuisineTypes.join(', ');
                            });
                        });

                        // Close dropdowns when clicking outside
                        document.addEventListener('click', function (event) {
                            var isClickInsideCuisineType = cuisineTypeToggle.contains(event.target) ||
                                cuisineTypeContent.contains(event.target);
                            if (!isClickInsideCuisineType) {
                                cuisineTypeContent.classList.add('hidden');
                            }

                        });
                    });
                </script>
                


                <!-- add cuisine tag -->
                <div class="shadow-sm bg-white rounded-xl w-[48%] p-4 h-auto pl-[2rem]">
                    <h2 class="text-2xl font-bold mb-4">Recipe Tags for Product</h2>

                    <div class="relative inline-block text-gray-700">                        
                        <div class="">
                            <div>
                                <input class="mr-2 leading-tight" type="checkbox" id="reicpeTag1" name="reicpeTag1" value="spicesFood">
                                <span>
                                    Spices and Food
                                </span>
                            </div>
                            <div>
                                <input class="mr-2 leading-tight" type="checkbox" id="reicpeTag2" name="reicpeTag2" value="pansPots">
                                <span>
                                    Pans and Pots
                                </span>
                            </div>
                            <div>
                                <input class="mr-2 leading-tight" type="checkbox" id="reicpeTag3" name="reicpeTag3" value="knifes">
                                <span>
                                    Knifes
                                </span>
                            </div>
                            <div>
                                <input class="mr-2 leading-tight" type="checkbox" id="reicpeTag4" name="reicpeTag4" value="electricAppliance">
                                <span>
                                    Electric Appliance
                                </span>
                            </div>
                            <div>
                                <input class="mr-2 leading-tight" type="checkbox" id="reicpeTag5" name="reicpeTag5" value="cleaningAppliance">
                                <span>
                                    Cleaning Appliance
                                </span>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>



            </div>
        </form>
    </div>
    <form id="editStepForm" style="display: none;" method="post">
        {% csrf_token %}
        <input type="hidden" id="stepIndex" name="stepIndex" value="">
        <textarea id="stepText" name="stepText" rows="3"></textarea>
        <button type="submit" id="saveStepBtn">Save</button>
    </form>
    {% endblock %}
</body>

</html>