<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Description</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
    <style>
        .custom-scrollbar {
            overflow-y: scroll;
        }
    
        .custom-scrollbar::-webkit-scrollbar {
            width: 8px;
        }
    
        .custom-scrollbar::-webkit-scrollbar-thumb {
            background-color: transparent;
        }
        .comment-user {
            font-family: 'Libre Franklin', sans-serif;
            /* Add additional styles as needed */
        }

        #gallery {
            scroll-snap-type: x mandatory;
        }

        #gallery>div {
            scroll-snap-align: start;
        }

        #gallery img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>
</head>

<body>
    {% extends '../navigationBar/base.html' %}
    {% block content %}
    <!--  for recipe name and other details -->
    <div class="container-1 w-[80%] m-auto">
        <div class="flex justify-between mt-[4rem]">
            <div class=" ">
                <h1 class="text-5xl font-bold mb-6">{{ recipeDetail.recipeName}}</h1>
                <div class="flex justify-between text-xl mb-2 w-[20rem] font-medium">
                    <div>
                        <h2>By {{ recipeDetail.user.username }}</h2>
                    </div>
                    <div>
                        Stars
                    </div>
                </div>
                <h2 class="text-xl font-medium ">{{ recipeDetail.cuisineType }}</h2>
            </div>
            <div>
                <div class="h-[4rem] w-[4rem]">
                    <img class="" src="../../static/images/recipe/bookmark.svg" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- for Recipe Images -->
    <div class=" pt-5 w-[80%] m-auto">
        <div class="flex justify-between">
            {% if recipe_image.exists %}
            <div class="">
                <div class="w-[830px] h-[31.5rem] flex rounded-xl bg-blue-400 justify-left items-left text-left">
                    <img src="{{ recipe_image.first.image.url }}" class="w-full h-full object-cover" alt="">
                </div>
            </div>

            <div class="flex flex-col gap-6 mr-3">
                <div class="w-[340px] rounded-xl">
                    <img src="{{ recipe_image.1.image.url }}" class="w-full h-full object-fit" alt="">
                </div>

                <div class="w-[340px] rounded-xl border-t-[black] border-t">
                    {% if recipe_image.count >= 3 %}
                    <img src="{{ recipe_image.2.image.url }}" class="w-full h-full object-fit " alt="">
                    {% endif %}
                </div>

            </div>
            {% endif %}
        </div>
    </div>


    <!-- For Descripton, steps and ingredients -->
    <div class="flex justify-between w-[80%] m-auto mt-10">
        <div class=" w-[70%]">
            <div class="text-3xl font-semibold">
                <h1>Description</h1>
            </div>
            <div class="text-l mt-3 w-[62%]">
                <p> {{ recipeDetail.recipeDescription}}</p>
            </div>

            <div class="mt-10">
                <h1 class="text-3xl font-semibold">Steps</h1>
            </div>
            <div class="mt-4 w-[62%]">
                <p class="text-l font-small italic">
                    {% for step in recipeSteps %}
                    {% if '.' in step %}
                <p style="margin-bottom: 10px;" class="italic">{{ step|linebreaksbr|safe }}</p>
                {% else %}
                <span style="margin-left: 20px; margin-bottom: 10px;">{{ step|linebreaksbr }} </span>
                {% endif %}
                {% endfor %}
                </p>
            </div>

        </div>


        <div class=" w-[29%]">
            <!-- for Ingreidents -->
            <div class="">
                <h1 class="text-3xl font-semibold">Ingredients</h1>
            </div>
            <div class="mt-4 w-full">
                <p class="text-l font-small italic">
                    {% for ingredient in recipeIngredient %}
                    {% if '.' in ingredient %}
                <p style="margin-bottom: 10px;" class="italic">{{ ingredient|linebreaksbr|safe }}</p>
                {% else %}
                <p style="margin-left: 20px; margin-bottom: 10px;">{{ ingredient|linebreaksbr }}</p>
                {% endif %}
                {% endfor %}
                </p>
            </div>

            <div class="mt-10">
                <h1 class="text-3xl font-semibold">Similar Recipe</h1>
            </div>
        </div>
    </div>

    <!-- comment -->
    <div class="container-2 mt-[5rem] w-[100%] mx-auto">

        <!-- for commment -->
        <div class="commnet-container flex justify-around">
            <div class="w-[60%] ml-[7rem]">
                <div>
                    <h1 class="text-5xl font-medium ml-4">Already Bought This??</h1>
                </div>


                <!-- Give Feedback Button -->
                <div class="my-[3rem]">

                    <button data-modal-target="crud-modal" data-modal-toggle="crud-modal"
                        class="rounded-xl w-[10rem] h-10 bg-[#FFC061] ml-5" type="button">
                        <span class="text-white">Give Feedback</span>
                    </button>
                </div>

                <!-- Main modal -->
                <div id="crud-modal" tabindex="-1" aria-hidden="true"
                    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                    <div class="relative p-4 w-full max-w-md max-h-full">
                        <form id="feedbackForm" method="post" action="{% url 'recipeDetail' recipeDetail.id %}">
                            {% csrf_token %}
                            <!-- Modal content -->
                            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                <!-- Modal header -->
                                <div
                                    class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                                        Give Feedback
                                    </h3>
                                    <button type="button"
                                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                        data-modal-toggle="crud-modal">
                                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                            fill="none" viewBox="0 0 14 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                        </svg>
                                        <span class="sr-only">Close modal</span>
                                    </button>
                                </div>
                                <!-- Modal body -->

                                <div class="grid gap-4 mb-4 grid-cols-2">
                                    <div class="col-span-2 p-4 md:p-5">

                                        {{ feedback_form.as_p }}

                                    </div>
                                </div>
                                <button type="submit"
                                    class=" mb-2 text-white inline-flex items-center ml-[1rem] hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-[#61A0FF] dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                    <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    Give Feedback
                                </button>
                        </form>
                    </div>
                </div>
            </div>


            <!-- comment section -->
            <div class=" overflow-y-scroll overflow-x-hidden bg-blue-50 rounded-xl w-[80%] h-[320px]">
                {% for comment in feedback_comments %}
                <div class="bg-blue-50  w-full p-2 ml-2">
                    <div class="comment-user flex">
                        <div>
                            <span>
                                {% if comment.user.userprofilepicture %}
                                <img class="h-[2.5rem] w-[2.5rem] ml-4 mt-2 rounded-full object-cover"
                                    src="{{ comment.user.userprofilepicture.profileImage.url }}" alt="profile">
                                {% endif %}
                            </span>
                        </div>
                        <div class="mt-[1rem] ml-4 text-l font-medium">
                            {{ comment.user.username }}
                        </div>
                    </div>
                    <div class="comment-user ml-5 mt-4 text-xs w-[90%] font-light leading-6">
                        {{ comment.feedback }}
                    </div>
                    
                </div>
                <hr>
                {% endfor %}
            </div>

        </div>
        <!-- recommend other products -->
        <div class="bg-blue-100 w-[40%]">
            other products
        </div>
    </div>

    </div>




    {% endblock %}
</body>


</html>