<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
</head>
<body>
    {% extends '../navigationBar/base.html' %}
    {% block content %}
    <div class="wrapper1 mt-[4rem] w-[70%] mx-auto flex justify-between">
        <div class="grid grid-cols-2 items-center m-2 ml-[8rem]">
            <div class="mb-[5rem]">
                {% if random_recipe %}
                    <img class="h-[30rem] rounded-xl object-cover" src="{{ random_recipe.images.first.image.url }}" alt="">
                {% endif %}
            </div>
    
            <div class="flex flex-col justify-content-center ml-[5rem] mb-[5rem]">
                {% if random_recipe %}
                    <h1 class="text-5xl font-bold text-[#F89500]">{{ random_recipe.recipeName }}</h1>
                    <p class="mt-8 ml-1 w-[25rem]">{{ random_recipe.recipeDescription }}</p>
                    <a href="{% url 'recipeDetail' random_recipe.id %}">                        
                        <div class="mt-[2rem]">
                            <p class="text-[#F89500] ml-1 hover:underline ease transition">Check it out > </p>
                        </div>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    

    <!-- Newari Cuisine -->
    {% if  recipeList %}
    <div class="ml-[10rem] mt-10">
        <div class="text-4xl ml-4 my-2 font-semibold">
            <h1>Newari Cuisine</h1>
        </div>
        <div class="w-[100%] grid grid-cols-4 gap-3">
            {% for recipe in recipeList %}
                <div class="w-[18rem] p-4">    
                     <!-- displaying recipe picture -->
                     <div id="gallery" class="relative w-full" data-carousel="slide">
                        <!-- Carousel wrapper -->
                        
                        <div class="relative h-56 overflow-hidden rounded-lg">
                            {% for image in recipe.images.all %}
                                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                    <a href="{% url 'recipeDetail' recipe.id %}"><img src="{{ image.image.url }}" alt=""
                                    class="rounded-md md:aspect-auto w-full h-[15rem] rounded-lg object-cover " /></a>
                               </div>
                            {% endfor %}
                        </div>
                        
                    </div>

                    <!-- display other data -->
                    <div class="">
                        <h1 class="text-lg font-medium mt-4">{{ recipe.recipeName }}</h1>
                        <p class="mt-2 text-sm">{{ recipe.user.username }}</p>
                        <p class="mt-2 text-sm">{{ recipe.cuisineType}}</p>
                        
                        <p id="rating-message" class="mt-2 text-gray-600"></p>
                        
                    </div>
                </div>  
            {% endfor %}          
        </div>
    </div>
    {% else %}
    

    {% endif %}


    <!-- super delicious will be filterd accoridn to the ratings -->
    {% if top_four_recipe %}
    
    <div class="ml-[10rem] mt-10">
        <div class="text-4xl ml-4 my-2 font-semibold">
            <h1>Super Delicious</h1>
        </div>
        <div class="w-[100%] grid grid-cols-4 gap-3">
            {% for recipe in top_four_recipe %}
            <div class="w-[18rem] p-4">    
                <!-- displaying recipe picture -->
                <div id="gallery" class="relative w-full" data-carousel="slide">
                    <!-- Carousel wrapper -->
                    <div class="relative h-56 overflow-hidden rounded-lg">
                        {% for image in recipe.images.all %}
                            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                <a href="{% url 'recipeDetail' recipe.id %}"><img src="{{ image.image.url }}" alt=""
                                class="rounded-md md:aspect-auto w-full h-[15rem] rounded-lg object-cover " /></a>
                           </div>
                        {% endfor %}
                    </div>
                </div>
    
                <!-- display other data -->
                <div class="">
                    <h1 class="text-lg font-medium mt-4">{{ recipe.recipeName }}</h1>
                    <p class="mt-2 text-sm">{{ recipe.user.username }}</p>
                    <p class="mt-2 text-sm">{{ recipe.cuisineType }}</p>
                    <p class="rating-stars" class="">
                        <!-- Stars will be dynamically added here -->
                    </p>
                    <p id="rating-message" class="mt-2 text-gray-600"></p>
                </div>
            </div>  
            {% endfor %}
        </div>
    </div>
    {% else %}
        
    {% endif %}

    

    <!-- FILTER -->
    <div class="filter-heading mt-[5rem]">
    
        <form role="search" action="{% url 'recipe' %}">
            <div class="flex justify-center gap-[2rem] pb-5">
            
                <div>
                    <input type="text" name="search_for" id="" placeholder="Search"
                        class="w-[13rem] text-gray-900 border-2 bg-gray-50 text-sm rounded border-gray-300 focus:ring-blue-500 focus:border-blue-500 p-2.5">

                </div>

                <div>
                    <select id="countries" name="cuisineType"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-[13rem] p-2.5 ">
                        <option>Cuisine Type</option>
                        <option value="Thakali">Thakali</option>
                        <option value="Newari">Newari</option>
                        <option value="Sherpa">Sherpa</option>
                        <option value="Tamang">Tamang</option>
                        <option value="Nepali">Nepali</option>
                    </select>

                </div>


                <div class="h-6 w-6 mt-1">
                    <button type="submit">
                        <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M15.7955 15.8111L21 21M18 10.5C18 14.6421 14.6421 18 10.5 18C6.35786 18 3 14.6421 3 10.5C3 6.35786 6.35786 3 10.5 3C14.6421 3 18 6.35786 18 10.5Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                    </button>
                    
                </div>
            </div>
    </div>

    <div class="mt-6 ml-7">
    {% if latest_recipe %}
          
        <div class="w-[90%] mx-auto grid grid-cols-5 ">
            {% for recipe in latest_recipe %}
                <div class="w-[18rem] p-4">    
                    <!-- displaying product picture -->
                    <div id="gallery" class="relative w-full" data-carousel="slide">
                        <!-- Carousel wrapper -->
                        <div class="relative h-[10rem] w-[13rem] overflow-hidden rounded-lg border-2">         
                            {% for image in recipe.images.all %}
                                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                    <a href="{% url 'recipeDetail' recipe.id %}">
                                        <img src="{{ image.image.url }}" alt=""
                                        class="rounded-md md:aspect-auto w-full h-full rounded-lg object-cover " />
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- display other data -->
                    <div class="">
                        <h1 class="text-lg font-medium mt-4">{{ recipe.recipeName }}</h1>
                        <p class="mt-2 text-sm">{{ recipe.user.username }}</p>
                        <p class="mt-2 text-sm">{{ recipe.cuisineType }}</p>
                        <p class="rating-stars" class="">
                            <!-- Stars will be dynamically added here -->
                        </p>
                        <p id="rating-message" class="mt-2 text-gray-600"></p>
                    </div>
                </div>  
            {% endfor %}
        </div>
    {% else %}

    <div class=" w-[40%] mx-auto flex jusitfy-center">
        <div class="flex flex-col ml-10">

            <p class=" text-2xl text-gray-500 font-bold w-full ml-2 mt-10 flex justify-center">Recipe Not Found.</p>
            <img src="../../static/images/marketplace/marketnotfound.svg" class="h-[25rem] w-[25rem] ml-10" alt="">
        </div>
    </div>


    {% endif %}
    </div>
    {% comment %} pagination {% endcomment %}
    <div class="flex flex-col xs:flex-row mr-[2rem] jusity-center items-center xs:justify-between">
        <div class="flex justify-center mt-4">
            <ul class="flex gap-2">
                {% if latest_recipe.has_previous %}
                    <li><a href="?page=1">&laquo; First</a></li>
                    <li><a href="?page={{ latest_recipe.previous_page_number }}">Previous</a></li>
                {% endif %}
        
                {% for i in latest_recipe.paginator.page_range %}
                    {% if latest_recipe.number == i %}
                        <li><span class="font-semibold">{{ i }}</span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
        
                {% if latest_recipe.has_next %}
                    <li><a href="?page={{ latest_recipe.next_page_number }}">Next</a></li>
                    <li><a href="?page={{ latest_recipe.paginator.num_pages }}">Last &raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    
    {% endblock %}
</body>
</html>